@font-face {
	font-family: 'iconmonstr';
	src:url('fonts/iconmonstr.eot');
	src:url('fonts/iconmonstr.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconmonstr.woff') format('woff'),
		url('fonts/iconmonstr.ttf') format('truetype'),
		url('fonts/iconmonstr.svg#iconmonstr') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconmonstr';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="monstr-"] {
*/
.monstr-iconmonstr-twitter-icon, .monstr-iconmonstr-soundcloud-icon, .monstr-iconmonstr-pinterest-icon, .monstr-iconmonstr-google-plus-icon, .monstr-iconmonstr-facebook-icon, .monstr-iconmonstr-github-6-icon, .monstr-iconmonstr-dribbble-icon, .monstr-iconmonstr-deviantart-icon, .monstr-iconmonstr-youtube-icon, .monstr-iconmonstr-user-14-icon, .monstr-iconmonstr-star-icon, .monstr-iconmonstr-document-file-2-icon, .monstr-iconmonstr-calendar-4-icon, .monstr-iconmonstr-clipboard-5-icon, .monstr-iconmonstr-computer-3-icon, .monstr-iconmonstr-tablet-icon, .monstr-iconmonstr-download-10-icon, .monstr-iconmonstr-upload-10-icon, .monstr-iconmonstr-cloud-3-icon, .monstr-iconmonstr-smartphone-4-icon, .monstr-iconmonstr-time-9-icon, .monstr-iconmonstr-time-6-icon, .monstr-iconmonstr-pie-chart-2-icon, .monstr-iconmonstr-line-chart-icon, .monstr-iconmonstr-livejournal-icon, .monstr-iconmonstr-full-folder-icon, .monstr-iconmonstr-speech-bubble-13-icon, .monstr-iconmonstr-email-2-icon, .monstr-iconmonstr-globe-4-icon, .monstr-iconmonstr-home-4-icon, .monstr-iconmonstr-plus-4-icon, .monstr-iconmonstr-check-mark-3-icon, .monstr-iconmonstr-x-mark-3-icon, .monstr-iconmonstr-undo-4-icon, .monstr-iconmonstr-redo-4-icon, .monstr-iconmonstr-magnifier-3-icon, .monstr-iconmonstr-resize-4-icon, .monstr-iconmonstr-refresh-5-icon, .monstr-iconmonstr-window-command-icon, .monstr-iconmonstr-gear-icon, .monstr-iconmonstr-arrow-58-icon, .monstr-iconmonstr-rss-icon, .monstr-iconmonstr-facebook-like-icon, .monstr-iconmonstr-help-2-icon, .monstr-iconmonstr-video-5-icon, .monstr-iconmonstr-info-5-icon, .monstr-iconmonstr-location-4-icon, .monstr-iconmonstr-location-3-icon, .monstr-iconmonstr-server-4-icon, .monstr-iconmonstr-database-icon, .monstr-iconmonstr-laptop-4-icon, .monstr-iconmonstr-location-5-icon, .monstr-iconmonstr-basket-2-icon, .monstr-iconmonstr-arrow-32-icon, .monstr-iconmonstr-user-icon, .monstr-iconmonstr-user-14-icon-1, .monstr-iconmonstr-microphone-icon, .monstr-iconmonstr-shopping-cart-icon, .monstr-iconmonstr-link-2-icon, .monstr-iconmonstr-dashboard-3-icon, .monstr-iconmonstr-warning-6-icon, .monstr-iconmonstr-basket-12-icon, .monstr-iconmonstr-inbox-6-icon, .monstr-iconmonstr-phone-icon, .monstr-iconmonstr-email-icon, .monstr-iconmonstr-photo-camera-4-icon, .monstr-iconmonstr-check-mark-icon, .monstr-iconmonstr-x-mark-icon, .monstr-iconmonstr-location-2-icon, .monstr-iconmonstr-share-4-icon, .monstr-iconmonstr-lock-icon, .monstr-iconmonstr-navigation-2-icon, .monstr-iconmonstr-shopping-cart-13-icon, .monstr-iconmonstr-compass-9-icon, .monstr-iconmonstr-window-layout-icon, .monstr-iconmonstr-shopping-cart-3-icon, .monstr-iconmonstr-favorite-3-icon, .monstr-iconmonstr-error-5-icon {
	font-family: 'iconmonstr';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.monstr-iconmonstr-twitter-icon:before {
	content: "\21";
}
.monstr-iconmonstr-soundcloud-icon:before {
	content: "\22";
}
.monstr-iconmonstr-pinterest-icon:before {
	content: "\23";
}
.monstr-iconmonstr-google-plus-icon:before {
	content: "\24";
}
.monstr-iconmonstr-facebook-icon:before {
	content: "\25";
}
.monstr-iconmonstr-github-6-icon:before {
	content: "\26";
}
.monstr-iconmonstr-dribbble-icon:before {
	content: "\27";
}
.monstr-iconmonstr-deviantart-icon:before {
	content: "\28";
}
.monstr-iconmonstr-youtube-icon:before {
	content: "\29";
}
.monstr-iconmonstr-user-14-icon:before {
	content: "\2a";
}
.monstr-iconmonstr-star-icon:before {
	content: "\2b";
}
.monstr-iconmonstr-document-file-2-icon:before {
	content: "\2c";
}
.monstr-iconmonstr-calendar-4-icon:before {
	content: "\2d";
}
.monstr-iconmonstr-clipboard-5-icon:before {
	content: "\2e";
}
.monstr-iconmonstr-computer-3-icon:before {
	content: "\2f";
}
.monstr-iconmonstr-tablet-icon:before {
	content: "\30";
}
.monstr-iconmonstr-download-10-icon:before {
	content: "\31";
}
.monstr-iconmonstr-upload-10-icon:before {
	content: "\32";
}
.monstr-iconmonstr-cloud-3-icon:before {
	content: "\33";
}
.monstr-iconmonstr-smartphone-4-icon:before {
	content: "\34";
}
.monstr-iconmonstr-time-9-icon:before {
	content: "\35";
}
.monstr-iconmonstr-time-6-icon:before {
	content: "\36";
}
.monstr-iconmonstr-pie-chart-2-icon:before {
	content: "\37";
}
.monstr-iconmonstr-line-chart-icon:before {
	content: "\38";
}
.monstr-iconmonstr-livejournal-icon:before {
	content: "\39";
}
.monstr-iconmonstr-full-folder-icon:before {
	content: "\3a";
}
.monstr-iconmonstr-speech-bubble-13-icon:before {
	content: "\3b";
}
.monstr-iconmonstr-email-2-icon:before {
	content: "\3c";
}
.monstr-iconmonstr-globe-4-icon:before {
	content: "\3d";
}
.monstr-iconmonstr-home-4-icon:before {
	content: "\3e";
}
.monstr-iconmonstr-plus-4-icon:before {
	content: "\3f";
}
.monstr-iconmonstr-check-mark-3-icon:before {
	content: "\40";
}
.monstr-iconmonstr-x-mark-3-icon:before {
	content: "\41";
}
.monstr-iconmonstr-undo-4-icon:before {
	content: "\42";
}
.monstr-iconmonstr-redo-4-icon:before {
	content: "\43";
}
.monstr-iconmonstr-magnifier-3-icon:before {
	content: "\44";
}
.monstr-iconmonstr-resize-4-icon:before {
	content: "\45";
}
.monstr-iconmonstr-refresh-5-icon:before {
	content: "\46";
}
.monstr-iconmonstr-window-command-icon:before {
	content: "\47";
}
.monstr-iconmonstr-gear-icon:before {
	content: "\48";
}
.monstr-iconmonstr-arrow-58-icon:before {
	content: "\49";
}
.monstr-iconmonstr-rss-icon:before {
	content: "\4a";
}
.monstr-iconmonstr-facebook-like-icon:before {
	content: "\4b";
}
.monstr-iconmonstr-help-2-icon:before {
	content: "\4c";
}
.monstr-iconmonstr-video-5-icon:before {
	content: "\4d";
}
.monstr-iconmonstr-info-5-icon:before {
	content: "\4e";
}
.monstr-iconmonstr-location-4-icon:before {
	content: "\4f";
}
.monstr-iconmonstr-location-3-icon:before {
	content: "\50";
}
.monstr-iconmonstr-server-4-icon:before {
	content: "\51";
}
.monstr-iconmonstr-database-icon:before {
	content: "\52";
}
.monstr-iconmonstr-laptop-4-icon:before {
	content: "\53";
}
.monstr-iconmonstr-location-5-icon:before {
	content: "\54";
}
.monstr-iconmonstr-basket-2-icon:before {
	content: "\55";
}
.monstr-iconmonstr-arrow-32-icon:before {
	content: "\56";
}
.monstr-iconmonstr-user-icon:before {
	content: "\57";
}
.monstr-iconmonstr-user-14-icon-1:before {
	content: "\58";
}
.monstr-iconmonstr-microphone-icon:before {
	content: "\59";
}
.monstr-iconmonstr-shopping-cart-icon:before {
	content: "\5a";
}
.monstr-iconmonstr-link-2-icon:before {
	content: "\5b";
}
.monstr-iconmonstr-dashboard-3-icon:before {
	content: "\5c";
}
.monstr-iconmonstr-warning-6-icon:before {
	content: "\5d";
}
.monstr-iconmonstr-basket-12-icon:before {
	content: "\5e";
}
.monstr-iconmonstr-inbox-6-icon:before {
	content: "\5f";
}
.monstr-iconmonstr-phone-icon:before {
	content: "\60";
}
.monstr-iconmonstr-email-icon:before {
	content: "\61";
}
.monstr-iconmonstr-photo-camera-4-icon:before {
	content: "\62";
}
.monstr-iconmonstr-check-mark-icon:before {
	content: "\63";
}
.monstr-iconmonstr-x-mark-icon:before {
	content: "\64";
}
.monstr-iconmonstr-location-2-icon:before {
	content: "\65";
}
.monstr-iconmonstr-share-4-icon:before {
	content: "\66";
}
.monstr-iconmonstr-lock-icon:before {
	content: "\67";
}
.monstr-iconmonstr-navigation-2-icon:before {
	content: "\68";
}
.monstr-iconmonstr-shopping-cart-13-icon:before {
	content: "\69";
}
.monstr-iconmonstr-compass-9-icon:before {
	content: "\6a";
}
.monstr-iconmonstr-window-layout-icon:before {
	content: "\6b";
}
.monstr-iconmonstr-shopping-cart-3-icon:before {
	content: "\6c";
}
.monstr-iconmonstr-favorite-3-icon:before {
	content: "\6d";
}
.monstr-iconmonstr-error-5-icon:before {
	content: "\6e";
}
