@font-face {
	font-family: 'mashup';
	src:url('fonts/mashup.eot');
	src:url('fonts/mashup.eot?#iefix') format('embedded-opentype'),
		url('fonts/mashup.woff') format('woff'),
		url('fonts/mashup.ttf') format('truetype'),
		url('fonts/mashup.svg#mashup') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'mashup';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-phone, .ico-mobile, .ico-mouse, .ico-directions, .ico-mail, .ico-paperplane, .ico-pencil, .ico-paperclip, .ico-drawer, .ico-reply, .ico-reply-all, .ico-forward, .ico-user, .ico-star, .ico-heart, .ico-heart-2, .ico-sharable, .ico-share, .ico-target, .ico-location, .ico-compass, .ico-map, .ico-location-2, .ico-export, .ico-vcard, .ico-user-add, .ico-users, .ico-star-2, .ico-chat, .ico-comment, .ico-house, .ico-cog, .ico-tools, .ico-camera, .ico-quote, .ico-leaf, .ico-music, .ico-clock, .ico-airplane, .ico-lifebuoy, .ico-eye, .ico-calendar, .ico-newspaper, .ico-drive, .ico-rocket, .ico-brush, .ico-suitcase, .ico-cone, .ico-screen, .ico-untitled, .ico-rss, .ico-clipboard, .ico-pie, .ico-light-bulb, .ico-info, .ico-info-2, .ico-help, .ico-question, .ico-warning, .ico-erase, .ico-list, .ico-layout, .ico-list-2, .ico-install, .ico-disk, .ico-archive, .ico-bookmark, .ico-arrow-right, .ico-arrow-down, .ico-arrow-right-2, .ico-arrow-left, .ico-arrow-up, .ico-arrow-down-2, .ico-github, .ico-twitter, .ico-facebook, .ico-facebook-2, .ico-googleplus, .ico-pinterest, .ico-pinterest-2, .ico-dribbble, .ico-flickr, .ico-calendar-2, .ico-checkmark, .ico-cancel, .ico-plus, .ico-minus, .ico-notice, .ico-pacman, .ico-cassette, .ico-suitcase-2, .ico-chart, .ico-cloud, .ico-upload, .ico-download, .ico-checkmark-2, .ico-cancel-2, .ico-location-3, .ico-basket, .ico-phone-2, .ico-open, .ico-vote, .ico-graduate, .ico-lab, .ico-tie, .ico-cord, .ico-transformers, .ico-space-invaders, .ico-lamp, .ico-lamp-2, .ico-ruler, .ico-list-3, .ico-list-4, .ico-grid, .ico-grid-2, .ico-archive-2, .ico-bomb, .ico-thermometer, .ico-ruler-2, .ico-layout-2, .ico-layout-3, .ico-layout-4, .ico-layout-5, .ico-layout-6, .ico-layout-7, .ico-layout-8, .ico-layout-9, .ico-layout-10, .ico-layout-11, .ico-layout-12, .ico-layout-13, .ico-layout-14, .ico-layout-15, .ico-tools-2, .ico-brush-2, .ico-chat-2, .ico-comments, .ico-resize, .ico-equalizer, .ico-attachment, .ico-stats, .ico-pencil-2, .ico-library, .ico-justice, .ico-auction, .ico-forward-2, .ico-reply-2, .ico-scissors, .ico-crop, .ico-envelope, .ico-pig, .ico-info-3, .ico-info-4, .ico-heart-3, .ico-presentation, .ico-aids, .ico-paper-plane, .ico-rocket-2, .ico-rain, .ico-snow, .ico-lightning, .ico-sun, .ico-moon, .ico-cloudy, .ico-cloudy-2, .ico-stop, .ico-blocked, .ico-cone-2, .ico-ticket, .ico-ticket-2, .ico-ticket-3, .ico-printer, .ico-compass-2, .ico-switch, .ico-clipboard-2, .ico-clipboard-3, .ico-clipboard-4, .ico-atom, .ico-cube, .ico-stack, .ico-site-map, .ico-site-map-2, .ico-chart-2, .ico-image, .ico-umbrella, .ico-lamp-3, .ico-direction, .ico-home, .ico-office, .ico-newspaper-2, .ico-pencil-3, .ico-droplet, .ico-paint-format, .ico-camera-2, .ico-headphones, .ico-play, .ico-pacman-2, .ico-books, .ico-library-2, .ico-profile, .ico-phone-3, .ico-location-4, .ico-location-5, .ico-compass-3, .ico-drawer-2, .ico-mobile-2, .ico-tablet, .ico-screen-2, .ico-laptop, .ico-bubbles, .ico-spinner, .ico-user-2, .ico-users-2, .ico-settings, .ico-equalizer-2, .ico-cog-2, .ico-pie-2, .ico-dashboard, .ico-rocket-3, .ico-leaf-2, .ico-road, .ico-quotes-left, .ico-lock, .ico-fire, .ico-food, .ico-signup, .ico-list-5, .ico-list-6, .ico-numbered-list, .ico-cloud-2, .ico-cloud-download, .ico-cloud-upload, .ico-bookmark-2, .ico-flag, .ico-attachment-2, .ico-eye-2, .ico-link, .ico-heart-4, .ico-star-3, .ico-star-4, .ico-star-5, .ico-heart-5, .ico-checkmark-3, .ico-close, .ico-plus-2, .ico-minus-2, .ico-bold, .ico-underline, .ico-italic, .ico-table, .ico-pilcrow, .ico-paragraph-left, .ico-paragraph-center, .ico-paragraph-right, .ico-paragraph-justify, .ico-indent-increase, .ico-indent-decrease, .ico-console, .ico-new-tab, .ico-facebook-3, .ico-twitter-2, .ico-google-plus, .ico-feed, .ico-share-2, .ico-dribbble-2, .ico-flickr-2, .ico-github-2, .ico-github-3, .ico-github-4, .ico-apple, .ico-soundcloud, .ico-html5, .ico-css3, .ico-android, .ico-chrome, .ico-firefox, .ico-IE, .ico-safari, .ico-opera, .ico-sunrise, .ico-sun-2, .ico-moon-2, .ico-sun-3, .ico-windy, .ico-wind, .ico-snowflake, .ico-cloudy-3, .ico-cloud-3, .ico-weather, .ico-weather-2, .ico-weather-3, .ico-lines, .ico-cloud-4, .ico-sun-4, .ico-lightning-2, .ico-cloud-5, .ico-cloudy-4, .ico-weather-4, .ico-snowy, .ico-snowy-2, .ico-snowy-3, .ico-windy-2, .ico-windy-3, .ico-rainy, .ico-rainy-2, .ico-lightning-3, .ico-lightning-4, .ico-moon-3, .ico-cloudy-5, .ico-compass-4, .ico-thermometer-2, .ico-cloud-6, .ico-cloud-7, .ico-Celsius, .ico-none, .ico-Fahrenheit, .ico-lightning-5, .ico-rainy-3, .ico-rainy-4, .ico-windy-4, .ico-windy-5, .ico-snowy-4, .ico-snowy-5, .ico-weather-5, .ico-cloudy-6, .ico-lightning-6, .ico-font, .ico-alarm, .ico-support, .ico-tag, .ico-ticket-4, .ico-paste, .ico-paste-2, .ico-image-2, .ico-images, .ico-eight-ball, .ico-soccer, .ico-3d-glasses, .ico-android-2, .ico-headphones-2, .ico-phone-4, .ico-tablet-2, .ico-window, .ico-monitor, .ico-drink, .ico-drink-2, .ico-microphone, .ico-drink-3, .ico-coffee, .ico-mug, .ico-ice-cream, .ico-warning-2, .ico-health, .ico-suitcase-3, .ico-picture, .ico-pictures, .ico-eye-3, .ico-microwave, .ico-refrigerator, .ico-washing-machine, .ico-bookmark-3, .ico-address-book, .ico-bookmark-4, .ico-safe, .ico-music-2, .ico-expand, .ico-badge, .ico-zip, .ico-heart-6, .ico-heart-7, .ico-link-2, .ico-cabinet, .ico-cabinet-2, .ico-cc, .ico-cc-by, .ico-cc-nc, .ico-cc-nc-eu, .ico-cc-nc-jp, .ico-cc-sa, .ico-cc-nd, .ico-cc-pd, .ico-cc-zero, .ico-cc-share, .ico-cc-share-2, .ico-daniel-bruce, .ico-dot, .ico-ellipsis, .ico-dots, .ico-arrow-up-2, .ico-arrow-down-3, .ico-arrow-left-2, .ico-arrow-right-3, .ico-arrow-left-3, .ico-arrow-down-4, .ico-arrow-up-3, .ico-arrow-right-4, .ico-arrow-left-4, .ico-arrow-down-5, .ico-arrow-up--upload, .ico-arrow-right-5, .ico-gauge, .ico-database, .ico-briefcase, .ico-cd, .ico-magnet, .ico-bucket, .ico-key, .ico-file-xml, .ico-file-css, .ico-file-powerpoint, .ico-file-pdf, .ico-arrow-up-left, .ico-arrow-up-right, .ico-arrow-down-right, .ico-arrow-down-left, .ico-arrow-up-4, .ico-arrow-right-6, .ico-arrow-down-6, .ico-arrow-left-5, .ico-bookmarks, .ico-eye-blocked, .ico-menu, .ico-tree, .ico-power-cord, .ico-mug-2, .ico-glass, .ico-airplane-2, .ico-truck, .ico-aid, .ico-expand-2, .ico-contract, .ico-zoom-out, .ico-zoom-in, .ico-search, .ico-binoculars, .ico-redo, .ico-undo, .ico-calculate, .ico-tv, .ico-embed, .ico-code, .ico-road-2, .ico-star-6, .ico-star-empty, .ico-heart-8, .ico-th-large, .ico-th, .ico-th-list, .ico-ok, .ico-remove, .ico-font-2, .ico-bold-2, .ico-italic-2, .ico-align-left, .ico-align-center, .ico-align-right, .ico-align-justify, .ico-list-7, .ico-indent-left, .ico-indent-right, .ico-camera-3, .ico-facetime-video, .ico-picture-2, .ico-pencil-4, .ico-move, .ico-plus-3, .ico-minus-3, .ico-resize-full, .ico-resize-small, .ico-eye-open, .ico-eye-close, .ico-thumbs-up, .ico-thumbs-down, .ico-twitter-3, .ico-facebook-4, .ico-github-5, .ico-reorder, .ico-list-ul, .ico-list-ol, .ico-strikethrough, .ico-underline-2, .ico-envelope-alt, .ico-sort, .ico-sort-down, .ico-sort-up, .ico-caret-down, .ico-caret-up, .ico-caret-left, .ico-caret-right, .ico-columns, .ico-dashboard-2, .ico-github-sign, .ico-bookmark-empty, .ico-star-half, .ico-heart-empty, .ico-external-link, .ico-resize-horizontal, .ico-resize-vertical, .ico-magnet-2, .ico-comment-2, .ico-comments-2, .ico-glass-2, .ico-home-2, .ico-bookmark-5, .ico-tag-2, .ico-tags, .ico-paper-clip, .ico-save, .ico-copy, .ico-cut, .ico-link-3, .ico-sitemap, .ico-umbrella-2, .ico-suitcase-4, .ico-coffee-2, .ico-food-2, .ico-building, .ico-hospital, .ico-ambulance, .ico-medkit, .ico-fighter-jet, .ico-desktop, .ico-laptop-2, .ico-tablet-3, .ico-mobile-3, .ico-github-alt, .ico-reply-3, .ico-pilcrow-2, .ico-tie-2, .ico-hydrant, .ico-greenlightbulb, .ico-dna, .ico-broom, .ico-speed, .ico-blackberry, .ico-superman, .ico-darthvader, .ico-ironman, .ico-batman, .ico-spiderman, .ico-spaceinvaders, .ico-fishbone, .ico-teapot, .ico-microwave-2, .ico-bread, .ico-stiletto, .ico-alienware, .ico-angrybirds, .ico-marvin, .ico-tooth, .ico-drupal, .ico-github-6, .ico-wordpress, .ico-html5-2, .ico-css3-2, .ico-jqueryui, .ico-insertpictureleft, .ico-insertpictureright, .ico-insertpicturecenter, .ico-checkin, .ico-martini, .ico-coffee-3, .ico-wine, .ico-automobile, .ico-road-3 {
	font-family: 'mashup';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico-phone:before {
	content: "\e000";
}
.ico-mobile:before {
	content: "\e001";
}
.ico-mouse:before {
	content: "\e002";
}
.ico-directions:before {
	content: "\e003";
}
.ico-mail:before {
	content: "\e004";
}
.ico-paperplane:before {
	content: "\e005";
}
.ico-pencil:before {
	content: "\e006";
}
.ico-paperclip:before {
	content: "\e007";
}
.ico-drawer:before {
	content: "\e008";
}
.ico-reply:before {
	content: "\e009";
}
.ico-reply-all:before {
	content: "\e00a";
}
.ico-forward:before {
	content: "\e00b";
}
.ico-user:before {
	content: "\e00c";
}
.ico-star:before {
	content: "\e00d";
}
.ico-heart:before {
	content: "\e00e";
}
.ico-heart-2:before {
	content: "\e00f";
}
.ico-sharable:before {
	content: "\e010";
}
.ico-share:before {
	content: "\e011";
}
.ico-target:before {
	content: "\e012";
}
.ico-location:before {
	content: "\e013";
}
.ico-compass:before {
	content: "\e014";
}
.ico-map:before {
	content: "\e015";
}
.ico-location-2:before {
	content: "\e016";
}
.ico-export:before {
	content: "\e017";
}
.ico-vcard:before {
	content: "\e018";
}
.ico-user-add:before {
	content: "\e019";
}
.ico-users:before {
	content: "\e01a";
}
.ico-star-2:before {
	content: "\e01b";
}
.ico-chat:before {
	content: "\e01c";
}
.ico-comment:before {
	content: "\e01d";
}
.ico-house:before {
	content: "\e01e";
}
.ico-cog:before {
	content: "\e01f";
}
.ico-tools:before {
	content: "\e020";
}
.ico-camera:before {
	content: "\e021";
}
.ico-quote:before {
	content: "\e022";
}
.ico-leaf:before {
	content: "\e023";
}
.ico-music:before {
	content: "\e024";
}
.ico-clock:before {
	content: "\e025";
}
.ico-airplane:before {
	content: "\e026";
}
.ico-lifebuoy:before {
	content: "\e027";
}
.ico-eye:before {
	content: "\e028";
}
.ico-calendar:before {
	content: "\e029";
}
.ico-newspaper:before {
	content: "\e02a";
}
.ico-drive:before {
	content: "\e02b";
}
.ico-rocket:before {
	content: "\e02c";
}
.ico-brush:before {
	content: "\e02d";
}
.ico-suitcase:before {
	content: "\e02e";
}
.ico-cone:before {
	content: "\e02f";
}
.ico-screen:before {
	content: "\e030";
}
.ico-untitled:before {
	content: "\e031";
}
.ico-rss:before {
	content: "\e032";
}
.ico-clipboard:before {
	content: "\e033";
}
.ico-pie:before {
	content: "\e034";
}
.ico-light-bulb:before {
	content: "\e035";
}
.ico-info:before {
	content: "\e036";
}
.ico-info-2:before {
	content: "\e037";
}
.ico-help:before {
	content: "\e038";
}
.ico-question:before {
	content: "\e039";
}
.ico-warning:before {
	content: "\e03a";
}
.ico-erase:before {
	content: "\e03b";
}
.ico-list:before {
	content: "\e03c";
}
.ico-layout:before {
	content: "\e03d";
}
.ico-list-2:before {
	content: "\e03e";
}
.ico-install:before {
	content: "\e03f";
}
.ico-disk:before {
	content: "\e040";
}
.ico-archive:before {
	content: "\e041";
}
.ico-bookmark:before {
	content: "\e042";
}
.ico-arrow-right:before {
	content: "\e043";
}
.ico-arrow-down:before {
	content: "\e044";
}
.ico-arrow-right-2:before {
	content: "\e045";
}
.ico-arrow-left:before {
	content: "\e046";
}
.ico-arrow-up:before {
	content: "\e047";
}
.ico-arrow-down-2:before {
	content: "\e048";
}
.ico-github:before {
	content: "\e049";
}
.ico-twitter:before {
	content: "\e04a";
}
.ico-facebook:before {
	content: "\e04b";
}
.ico-facebook-2:before {
	content: "\e04c";
}
.ico-googleplus:before {
	content: "\e04d";
}
.ico-pinterest:before {
	content: "\e04e";
}
.ico-pinterest-2:before {
	content: "\e04f";
}
.ico-dribbble:before {
	content: "\e050";
}
.ico-flickr:before {
	content: "\e051";
}
.ico-calendar-2:before {
	content: "\e052";
}
.ico-checkmark:before {
	content: "\e053";
}
.ico-cancel:before {
	content: "\e054";
}
.ico-plus:before {
	content: "\e055";
}
.ico-minus:before {
	content: "\e056";
}
.ico-notice:before {
	content: "\e057";
}
.ico-pacman:before {
	content: "\e058";
}
.ico-cassette:before {
	content: "\e059";
}
.ico-suitcase-2:before {
	content: "\e05a";
}
.ico-chart:before {
	content: "\e05b";
}
.ico-cloud:before {
	content: "\e05c";
}
.ico-upload:before {
	content: "\e05d";
}
.ico-download:before {
	content: "\e05e";
}
.ico-checkmark-2:before {
	content: "\e05f";
}
.ico-cancel-2:before {
	content: "\e060";
}
.ico-location-3:before {
	content: "\e061";
}
.ico-basket:before {
	content: "\e062";
}
.ico-phone-2:before {
	content: "\e063";
}
.ico-open:before {
	content: "\e064";
}
.ico-vote:before {
	content: "\e065";
}
.ico-graduate:before {
	content: "\e066";
}
.ico-lab:before {
	content: "\e067";
}
.ico-tie:before {
	content: "\e068";
}
.ico-cord:before {
	content: "\e069";
}
.ico-transformers:before {
	content: "\e06a";
}
.ico-space-invaders:before {
	content: "\e06b";
}
.ico-lamp:before {
	content: "\e06c";
}
.ico-lamp-2:before {
	content: "\e06d";
}
.ico-ruler:before {
	content: "\e06e";
}
.ico-list-3:before {
	content: "\e06f";
}
.ico-list-4:before {
	content: "\e070";
}
.ico-grid:before {
	content: "\e071";
}
.ico-grid-2:before {
	content: "\e072";
}
.ico-archive-2:before {
	content: "\e073";
}
.ico-bomb:before {
	content: "\e074";
}
.ico-thermometer:before {
	content: "\e075";
}
.ico-ruler-2:before {
	content: "\e076";
}
.ico-layout-2:before {
	content: "\e077";
}
.ico-layout-3:before {
	content: "\e078";
}
.ico-layout-4:before {
	content: "\e079";
}
.ico-layout-5:before {
	content: "\e07a";
}
.ico-layout-6:before {
	content: "\e07b";
}
.ico-layout-7:before {
	content: "\e07c";
}
.ico-layout-8:before {
	content: "\e07d";
}
.ico-layout-9:before {
	content: "\e07e";
}
.ico-layout-10:before {
	content: "\e07f";
}
.ico-layout-11:before {
	content: "\e080";
}
.ico-layout-12:before {
	content: "\e081";
}
.ico-layout-13:before {
	content: "\e082";
}
.ico-layout-14:before {
	content: "\e083";
}
.ico-layout-15:before {
	content: "\e084";
}
.ico-tools-2:before {
	content: "\e085";
}
.ico-brush-2:before {
	content: "\e086";
}
.ico-chat-2:before {
	content: "\e087";
}
.ico-comments:before {
	content: "\e088";
}
.ico-resize:before {
	content: "\e089";
}
.ico-equalizer:before {
	content: "\e08a";
}
.ico-attachment:before {
	content: "\e08b";
}
.ico-stats:before {
	content: "\e08c";
}
.ico-pencil-2:before {
	content: "\e08d";
}
.ico-library:before {
	content: "\e08e";
}
.ico-justice:before {
	content: "\e08f";
}
.ico-auction:before {
	content: "\e090";
}
.ico-forward-2:before {
	content: "\e091";
}
.ico-reply-2:before {
	content: "\e092";
}
.ico-scissors:before {
	content: "\e093";
}
.ico-crop:before {
	content: "\e094";
}
.ico-envelope:before {
	content: "\e095";
}
.ico-pig:before {
	content: "\e096";
}
.ico-info-3:before {
	content: "\e097";
}
.ico-info-4:before {
	content: "\e098";
}
.ico-heart-3:before {
	content: "\e099";
}
.ico-presentation:before {
	content: "\e09a";
}
.ico-aids:before {
	content: "\e09b";
}
.ico-paper-plane:before {
	content: "\e09c";
}
.ico-rocket-2:before {
	content: "\e09d";
}
.ico-rain:before {
	content: "\e09e";
}
.ico-snow:before {
	content: "\e09f";
}
.ico-lightning:before {
	content: "\e0a0";
}
.ico-sun:before {
	content: "\e0a1";
}
.ico-moon:before {
	content: "\e0a2";
}
.ico-cloudy:before {
	content: "\e0a3";
}
.ico-cloudy-2:before {
	content: "\e0a4";
}
.ico-stop:before {
	content: "\e0a5";
}
.ico-blocked:before {
	content: "\e0a6";
}
.ico-cone-2:before {
	content: "\e0a7";
}
.ico-ticket:before {
	content: "\e0a8";
}
.ico-ticket-2:before {
	content: "\e0a9";
}
.ico-ticket-3:before {
	content: "\e0aa";
}
.ico-printer:before {
	content: "\e0ab";
}
.ico-compass-2:before {
	content: "\e0ac";
}
.ico-switch:before {
	content: "\e0ad";
}
.ico-clipboard-2:before {
	content: "\e0ae";
}
.ico-clipboard-3:before {
	content: "\e0af";
}
.ico-clipboard-4:before {
	content: "\e0b0";
}
.ico-atom:before {
	content: "\e0b1";
}
.ico-cube:before {
	content: "\e0b2";
}
.ico-stack:before {
	content: "\e0b3";
}
.ico-site-map:before {
	content: "\e0b4";
}
.ico-site-map-2:before {
	content: "\e0b5";
}
.ico-chart-2:before {
	content: "\e0b6";
}
.ico-image:before {
	content: "\e0b7";
}
.ico-umbrella:before {
	content: "\e0b8";
}
.ico-lamp-3:before {
	content: "\e0b9";
}
.ico-direction:before {
	content: "\e0ba";
}
.ico-home:before {
	content: "\e0bb";
}
.ico-office:before {
	content: "\e0bc";
}
.ico-newspaper-2:before {
	content: "\e0bd";
}
.ico-pencil-3:before {
	content: "\e0be";
}
.ico-droplet:before {
	content: "\e0bf";
}
.ico-paint-format:before {
	content: "\e0c0";
}
.ico-camera-2:before {
	content: "\e0c1";
}
.ico-headphones:before {
	content: "\e0c2";
}
.ico-play:before {
	content: "\e0c3";
}
.ico-pacman-2:before {
	content: "\e0c4";
}
.ico-books:before {
	content: "\e0c5";
}
.ico-library-2:before {
	content: "\e0c6";
}
.ico-profile:before {
	content: "\e0c7";
}
.ico-phone-3:before {
	content: "\e0c8";
}
.ico-location-4:before {
	content: "\e0c9";
}
.ico-location-5:before {
	content: "\e0ca";
}
.ico-compass-3:before {
	content: "\e0cb";
}
.ico-drawer-2:before {
	content: "\e0cc";
}
.ico-mobile-2:before {
	content: "\e0cd";
}
.ico-tablet:before {
	content: "\e0ce";
}
.ico-screen-2:before {
	content: "\e0cf";
}
.ico-laptop:before {
	content: "\e0d0";
}
.ico-bubbles:before {
	content: "\e0d1";
}
.ico-spinner:before {
	content: "\e0d2";
}
.ico-user-2:before {
	content: "\e0d3";
}
.ico-users-2:before {
	content: "\e0d4";
}
.ico-settings:before {
	content: "\e0d5";
}
.ico-equalizer-2:before {
	content: "\e0d6";
}
.ico-cog-2:before {
	content: "\e0d7";
}
.ico-pie-2:before {
	content: "\e0d8";
}
.ico-dashboard:before {
	content: "\e0d9";
}
.ico-rocket-3:before {
	content: "\e0da";
}
.ico-leaf-2:before {
	content: "\e0db";
}
.ico-road:before {
	content: "\e0dc";
}
.ico-quotes-left:before {
	content: "\e0dd";
}
.ico-lock:before {
	content: "\e0de";
}
.ico-fire:before {
	content: "\e0df";
}
.ico-food:before {
	content: "\e0e0";
}
.ico-signup:before {
	content: "\e0e1";
}
.ico-list-5:before {
	content: "\e0e2";
}
.ico-list-6:before {
	content: "\e0e3";
}
.ico-numbered-list:before {
	content: "\e0e4";
}
.ico-cloud-2:before {
	content: "\e0e5";
}
.ico-cloud-download:before {
	content: "\e0e6";
}
.ico-cloud-upload:before {
	content: "\e0e7";
}
.ico-bookmark-2:before {
	content: "\e0e8";
}
.ico-flag:before {
	content: "\e0e9";
}
.ico-attachment-2:before {
	content: "\e0ea";
}
.ico-eye-2:before {
	content: "\e0eb";
}
.ico-link:before {
	content: "\e0ec";
}
.ico-heart-4:before {
	content: "\e0ed";
}
.ico-star-3:before {
	content: "\e0ee";
}
.ico-star-4:before {
	content: "\e0ef";
}
.ico-star-5:before {
	content: "\e0f0";
}
.ico-heart-5:before {
	content: "\e0f1";
}
.ico-checkmark-3:before {
	content: "\e0f2";
}
.ico-close:before {
	content: "\e0f3";
}
.ico-plus-2:before {
	content: "\e0f4";
}
.ico-minus-2:before {
	content: "\e0f5";
}
.ico-bold:before {
	content: "\e0f6";
}
.ico-underline:before {
	content: "\e0f7";
}
.ico-italic:before {
	content: "\e0f8";
}
.ico-table:before {
	content: "\e0f9";
}
.ico-pilcrow:before {
	content: "\e0fa";
}
.ico-paragraph-left:before {
	content: "\e0fb";
}
.ico-paragraph-center:before {
	content: "\e0fc";
}
.ico-paragraph-right:before {
	content: "\e0fd";
}
.ico-paragraph-justify:before {
	content: "\e0fe";
}
.ico-indent-increase:before {
	content: "\e0ff";
}
.ico-indent-decrease:before {
	content: "\e100";
}
.ico-console:before {
	content: "\e101";
}
.ico-new-tab:before {
	content: "\e102";
}
.ico-facebook-3:before {
	content: "\e103";
}
.ico-twitter-2:before {
	content: "\e104";
}
.ico-google-plus:before {
	content: "\e105";
}
.ico-feed:before {
	content: "\e106";
}
.ico-share-2:before {
	content: "\e107";
}
.ico-dribbble-2:before {
	content: "\e108";
}
.ico-flickr-2:before {
	content: "\e109";
}
.ico-github-2:before {
	content: "\e10a";
}
.ico-github-3:before {
	content: "\e10b";
}
.ico-github-4:before {
	content: "\e10c";
}
.ico-apple:before {
	content: "\e10d";
}
.ico-soundcloud:before {
	content: "\e10e";
}
.ico-html5:before {
	content: "\e10f";
}
.ico-css3:before {
	content: "\e110";
}
.ico-android:before {
	content: "\e111";
}
.ico-chrome:before {
	content: "\e112";
}
.ico-firefox:before {
	content: "\e113";
}
.ico-IE:before {
	content: "\e114";
}
.ico-safari:before {
	content: "\e115";
}
.ico-opera:before {
	content: "\e116";
}
.ico-sunrise:before {
	content: "\e117";
}
.ico-sun-2:before {
	content: "\e118";
}
.ico-moon-2:before {
	content: "\e119";
}
.ico-sun-3:before {
	content: "\e11a";
}
.ico-windy:before {
	content: "\e11b";
}
.ico-wind:before {
	content: "\e11c";
}
.ico-snowflake:before {
	content: "\e11d";
}
.ico-cloudy-3:before {
	content: "\e11e";
}
.ico-cloud-3:before {
	content: "\e11f";
}
.ico-weather:before {
	content: "\e120";
}
.ico-weather-2:before {
	content: "\e121";
}
.ico-weather-3:before {
	content: "\e122";
}
.ico-lines:before {
	content: "\e123";
}
.ico-cloud-4:before {
	content: "\e124";
}
.ico-sun-4:before {
	content: "\e125";
}
.ico-lightning-2:before {
	content: "\e126";
}
.ico-cloud-5:before {
	content: "\e127";
}
.ico-cloudy-4:before {
	content: "\e128";
}
.ico-weather-4:before {
	content: "\e129";
}
.ico-snowy:before {
	content: "\e12a";
}
.ico-snowy-2:before {
	content: "\e12b";
}
.ico-snowy-3:before {
	content: "\e12c";
}
.ico-windy-2:before {
	content: "\e12d";
}
.ico-windy-3:before {
	content: "\e12e";
}
.ico-rainy:before {
	content: "\e12f";
}
.ico-rainy-2:before {
	content: "\e130";
}
.ico-lightning-3:before {
	content: "\e131";
}
.ico-lightning-4:before {
	content: "\e132";
}
.ico-moon-3:before {
	content: "\e133";
}
.ico-cloudy-5:before {
	content: "\e134";
}
.ico-compass-4:before {
	content: "\e135";
}
.ico-thermometer-2:before {
	content: "\e136";
}
.ico-cloud-6:before {
	content: "\e137";
}
.ico-cloud-7:before {
	content: "\e138";
}
.ico-Celsius:before {
	content: "\e139";
}
.ico-none:before {
	content: "\e13a";
}
.ico-Fahrenheit:before {
	content: "\e13b";
}
.ico-lightning-5:before {
	content: "\e13c";
}
.ico-rainy-3:before {
	content: "\e13d";
}
.ico-rainy-4:before {
	content: "\e13e";
}
.ico-windy-4:before {
	content: "\e13f";
}
.ico-windy-5:before {
	content: "\e140";
}
.ico-snowy-4:before {
	content: "\e141";
}
.ico-snowy-5:before {
	content: "\e142";
}
.ico-weather-5:before {
	content: "\e143";
}
.ico-cloudy-6:before {
	content: "\e144";
}
.ico-lightning-6:before {
	content: "\e145";
}
.ico-font:before {
	content: "\e146";
}
.ico-alarm:before {
	content: "\e147";
}
.ico-support:before {
	content: "\e148";
}
.ico-tag:before {
	content: "\e149";
}
.ico-ticket-4:before {
	content: "\e14a";
}
.ico-paste:before {
	content: "\e14b";
}
.ico-paste-2:before {
	content: "\e14c";
}
.ico-image-2:before {
	content: "\e14d";
}
.ico-images:before {
	content: "\e14e";
}
.ico-eight-ball:before {
	content: "\e14f";
}
.ico-soccer:before {
	content: "\e150";
}
.ico-3d-glasses:before {
	content: "\e151";
}
.ico-android-2:before {
	content: "\e152";
}
.ico-headphones-2:before {
	content: "\e153";
}
.ico-phone-4:before {
	content: "\e154";
}
.ico-tablet-2:before {
	content: "\e155";
}
.ico-window:before {
	content: "\e156";
}
.ico-monitor:before {
	content: "\e157";
}
.ico-drink:before {
	content: "\e158";
}
.ico-drink-2:before {
	content: "\e159";
}
.ico-microphone:before {
	content: "\e15a";
}
.ico-drink-3:before {
	content: "\e15b";
}
.ico-coffee:before {
	content: "\e15c";
}
.ico-mug:before {
	content: "\e15d";
}
.ico-ice-cream:before {
	content: "\e15e";
}
.ico-warning-2:before {
	content: "\e15f";
}
.ico-health:before {
	content: "\e160";
}
.ico-suitcase-3:before {
	content: "\e161";
}
.ico-picture:before {
	content: "\e162";
}
.ico-pictures:before {
	content: "\e163";
}
.ico-eye-3:before {
	content: "\e164";
}
.ico-microwave:before {
	content: "\e165";
}
.ico-refrigerator:before {
	content: "\e166";
}
.ico-washing-machine:before {
	content: "\e167";
}
.ico-bookmark-3:before {
	content: "\e168";
}
.ico-address-book:before {
	content: "\e169";
}
.ico-bookmark-4:before {
	content: "\e16a";
}
.ico-safe:before {
	content: "\e16b";
}
.ico-music-2:before {
	content: "\e16c";
}
.ico-expand:before {
	content: "\e16d";
}
.ico-badge:before {
	content: "\e16e";
}
.ico-zip:before {
	content: "\e16f";
}
.ico-heart-6:before {
	content: "\e170";
}
.ico-heart-7:before {
	content: "\e171";
}
.ico-link-2:before {
	content: "\e172";
}
.ico-cabinet:before {
	content: "\e173";
}
.ico-cabinet-2:before {
	content: "\e174";
}
.ico-cc:before {
	content: "\e175";
}
.ico-cc-by:before {
	content: "\e176";
}
.ico-cc-nc:before {
	content: "\e177";
}
.ico-cc-nc-eu:before {
	content: "\e178";
}
.ico-cc-nc-jp:before {
	content: "\e179";
}
.ico-cc-sa:before {
	content: "\e17a";
}
.ico-cc-nd:before {
	content: "\e17b";
}
.ico-cc-pd:before {
	content: "\e17c";
}
.ico-cc-zero:before {
	content: "\e17d";
}
.ico-cc-share:before {
	content: "\e17e";
}
.ico-cc-share-2:before {
	content: "\e17f";
}
.ico-daniel-bruce:before {
	content: "\e180";
}
.ico-dot:before {
	content: "\e181";
}
.ico-ellipsis:before {
	content: "\e182";
}
.ico-dots:before {
	content: "\e183";
}
.ico-arrow-up-2:before {
	content: "\e184";
}
.ico-arrow-down-3:before {
	content: "\e185";
}
.ico-arrow-left-2:before {
	content: "\e186";
}
.ico-arrow-right-3:before {
	content: "\e187";
}
.ico-arrow-left-3:before {
	content: "\e188";
}
.ico-arrow-down-4:before {
	content: "\e189";
}
.ico-arrow-up-3:before {
	content: "\e18a";
}
.ico-arrow-right-4:before {
	content: "\e18b";
}
.ico-arrow-left-4:before {
	content: "\e18c";
}
.ico-arrow-down-5:before {
	content: "\e18d";
}
.ico-arrow-up--upload:before {
	content: "\e18e";
}
.ico-arrow-right-5:before {
	content: "\e18f";
}
.ico-gauge:before {
	content: "\e190";
}
.ico-database:before {
	content: "\e191";
}
.ico-briefcase:before {
	content: "\e192";
}
.ico-cd:before {
	content: "\e193";
}
.ico-magnet:before {
	content: "\e194";
}
.ico-bucket:before {
	content: "\e195";
}
.ico-key:before {
	content: "\e196";
}
.ico-file-xml:before {
	content: "\e197";
}
.ico-file-css:before {
	content: "\e198";
}
.ico-file-powerpoint:before {
	content: "\e199";
}
.ico-file-pdf:before {
	content: "\e19a";
}
.ico-arrow-up-left:before {
	content: "\e19b";
}
.ico-arrow-up-right:before {
	content: "\e19c";
}
.ico-arrow-down-right:before {
	content: "\e19d";
}
.ico-arrow-down-left:before {
	content: "\e19e";
}
.ico-arrow-up-4:before {
	content: "\e19f";
}
.ico-arrow-right-6:before {
	content: "\e1a0";
}
.ico-arrow-down-6:before {
	content: "\e1a1";
}
.ico-arrow-left-5:before {
	content: "\e1a2";
}
.ico-bookmarks:before {
	content: "\e1a3";
}
.ico-eye-blocked:before {
	content: "\e1a4";
}
.ico-menu:before {
	content: "\e1a5";
}
.ico-tree:before {
	content: "\e1a6";
}
.ico-power-cord:before {
	content: "\e1a7";
}
.ico-mug-2:before {
	content: "\e1a8";
}
.ico-glass:before {
	content: "\e1a9";
}
.ico-airplane-2:before {
	content: "\e1aa";
}
.ico-truck:before {
	content: "\e1ab";
}
.ico-aid:before {
	content: "\e1ac";
}
.ico-expand-2:before {
	content: "\e1ad";
}
.ico-contract:before {
	content: "\e1ae";
}
.ico-zoom-out:before {
	content: "\e1af";
}
.ico-zoom-in:before {
	content: "\e1b0";
}
.ico-search:before {
	content: "\e1b1";
}
.ico-binoculars:before {
	content: "\e1b2";
}
.ico-redo:before {
	content: "\e1b3";
}
.ico-undo:before {
	content: "\e1b4";
}
.ico-calculate:before {
	content: "\e1b5";
}
.ico-tv:before {
	content: "\e1b6";
}
.ico-embed:before {
	content: "\e1b7";
}
.ico-code:before {
	content: "\e1b8";
}
.ico-road-2:before {
	content: "\e1b9";
}
.ico-star-6:before {
	content: "\e1ba";
}
.ico-star-empty:before {
	content: "\e1bb";
}
.ico-heart-8:before {
	content: "\e1bc";
}
.ico-th-large:before {
	content: "\e1bd";
}
.ico-th:before {
	content: "\e1be";
}
.ico-th-list:before {
	content: "\e1bf";
}
.ico-ok:before {
	content: "\e1c0";
}
.ico-remove:before {
	content: "\e1c1";
}
.ico-font-2:before {
	content: "\e1c2";
}
.ico-bold-2:before {
	content: "\e1c3";
}
.ico-italic-2:before {
	content: "\e1c4";
}
.ico-align-left:before {
	content: "\e1c5";
}
.ico-align-center:before {
	content: "\e1c6";
}
.ico-align-right:before {
	content: "\e1c7";
}
.ico-align-justify:before {
	content: "\e1c8";
}
.ico-list-7:before {
	content: "\e1c9";
}
.ico-indent-left:before {
	content: "\e1ca";
}
.ico-indent-right:before {
	content: "\e1cb";
}
.ico-camera-3:before {
	content: "\e1cc";
}
.ico-facetime-video:before {
	content: "\e1cd";
}
.ico-picture-2:before {
	content: "\e1ce";
}
.ico-pencil-4:before {
	content: "\e1cf";
}
.ico-move:before {
	content: "\e1d0";
}
.ico-plus-3:before {
	content: "\e1d1";
}
.ico-minus-3:before {
	content: "\e1d2";
}
.ico-resize-full:before {
	content: "\e1d3";
}
.ico-resize-small:before {
	content: "\e1d4";
}
.ico-eye-open:before {
	content: "\e1d5";
}
.ico-eye-close:before {
	content: "\e1d6";
}
.ico-thumbs-up:before {
	content: "\e1d7";
}
.ico-thumbs-down:before {
	content: "\e1d8";
}
.ico-twitter-3:before {
	content: "\e1d9";
}
.ico-facebook-4:before {
	content: "\e1da";
}
.ico-github-5:before {
	content: "\e1db";
}
.ico-reorder:before {
	content: "\e1dc";
}
.ico-list-ul:before {
	content: "\e1dd";
}
.ico-list-ol:before {
	content: "\e1de";
}
.ico-strikethrough:before {
	content: "\e1df";
}
.ico-underline-2:before {
	content: "\e1e0";
}
.ico-envelope-alt:before {
	content: "\e1e1";
}
.ico-sort:before {
	content: "\e1e2";
}
.ico-sort-down:before {
	content: "\e1e3";
}
.ico-sort-up:before {
	content: "\e1e4";
}
.ico-caret-down:before {
	content: "\e1e5";
}
.ico-caret-up:before {
	content: "\e1e6";
}
.ico-caret-left:before {
	content: "\e1e7";
}
.ico-caret-right:before {
	content: "\e1e8";
}
.ico-columns:before {
	content: "\e1e9";
}
.ico-dashboard-2:before {
	content: "\e1ea";
}
.ico-github-sign:before {
	content: "\e1eb";
}
.ico-bookmark-empty:before {
	content: "\e1ec";
}
.ico-star-half:before {
	content: "\e1ed";
}
.ico-heart-empty:before {
	content: "\e1ee";
}
.ico-external-link:before {
	content: "\e1ef";
}
.ico-resize-horizontal:before {
	content: "\e1f0";
}
.ico-resize-vertical:before {
	content: "\e1f1";
}
.ico-magnet-2:before {
	content: "\e1f2";
}
.ico-comment-2:before {
	content: "\e1f3";
}
.ico-comments-2:before {
	content: "\e1f4";
}
.ico-glass-2:before {
	content: "\e1f5";
}
.ico-home-2:before {
	content: "\e1f6";
}
.ico-bookmark-5:before {
	content: "\e1f7";
}
.ico-tag-2:before {
	content: "\e1f8";
}
.ico-tags:before {
	content: "\e1f9";
}
.ico-paper-clip:before {
	content: "\e1fa";
}
.ico-save:before {
	content: "\e1fb";
}
.ico-copy:before {
	content: "\e1fc";
}
.ico-cut:before {
	content: "\e1fd";
}
.ico-link-3:before {
	content: "\e1fe";
}
.ico-sitemap:before {
	content: "\e1ff";
}
.ico-umbrella-2:before {
	content: "\e200";
}
.ico-suitcase-4:before {
	content: "\e201";
}
.ico-coffee-2:before {
	content: "\e202";
}
.ico-food-2:before {
	content: "\e203";
}
.ico-building:before {
	content: "\e204";
}
.ico-hospital:before {
	content: "\e205";
}
.ico-ambulance:before {
	content: "\e206";
}
.ico-medkit:before {
	content: "\e207";
}
.ico-fighter-jet:before {
	content: "\e208";
}
.ico-desktop:before {
	content: "\e209";
}
.ico-laptop-2:before {
	content: "\e20a";
}
.ico-tablet-3:before {
	content: "\e20b";
}
.ico-mobile-3:before {
	content: "\e20c";
}
.ico-github-alt:before {
	content: "\e20d";
}
.ico-reply-3:before {
	content: "\e20e";
}
.ico-pilcrow-2:before {
	content: "\e20f";
}
.ico-tie-2:before {
	content: "\e210";
}
.ico-hydrant:before {
	content: "\e211";
}
.ico-greenlightbulb:before {
	content: "\e212";
}
.ico-dna:before {
	content: "\e213";
}
.ico-broom:before {
	content: "\e214";
}
.ico-speed:before {
	content: "\e215";
}
.ico-blackberry:before {
	content: "\e216";
}
.ico-superman:before {
	content: "\e217";
}
.ico-darthvader:before {
	content: "\e218";
}
.ico-ironman:before {
	content: "\e219";
}
.ico-batman:before {
	content: "\e21a";
}
.ico-spiderman:before {
	content: "\e21b";
}
.ico-spaceinvaders:before {
	content: "\e21c";
}
.ico-fishbone:before {
	content: "\e21d";
}
.ico-teapot:before {
	content: "\e21e";
}
.ico-microwave-2:before {
	content: "\e21f";
}
.ico-bread:before {
	content: "\e220";
}
.ico-stiletto:before {
	content: "\e221";
}
.ico-alienware:before {
	content: "\e222";
}
.ico-angrybirds:before {
	content: "\e223";
}
.ico-marvin:before {
	content: "\e224";
}
.ico-tooth:before {
	content: "\e225";
}
.ico-drupal:before {
	content: "\e226";
}
.ico-github-6:before {
	content: "\e227";
}
.ico-wordpress:before {
	content: "\e228";
}
.ico-html5-2:before {
	content: "\e229";
}
.ico-css3-2:before {
	content: "\e22a";
}
.ico-jqueryui:before {
	content: "\e22b";
}
.ico-insertpictureleft:before {
	content: "\e22c";
}
.ico-insertpictureright:before {
	content: "\e22d";
}
.ico-insertpicturecenter:before {
	content: "\e22e";
}
.ico-checkin:before {
	content: "\e22f";
}
.ico-martini:before {
	content: "\e230";
}
.ico-coffee-3:before {
	content: "\e231";
}
.ico-wine:before {
	content: "\e232";
}
.ico-automobile:before {
	content: "\e233";
}
.ico-road-3:before {
	content: "\e234";
}
