.icon-iconmonstr-twitter-icon,.icon-iconmonstr-soundcloud-icon,.icon-iconmonstr-pinterest-icon,.icon-iconmonstr-google-plus-icon,.icon-iconmonstr-github-6-icon,.icon-iconmonstr-facebook-icon,.icon-iconmonstr-dribbble-icon,.icon-iconmonstr-deviantart-icon,.icon-iconmonstr-youtube-icon,.icon-iconmonstr-user-14-icon,.icon-iconmonstr-smartphone-4-icon,.icon-iconmonstr-cloud-3-icon,.icon-iconmonstr-upload-10-icon,.icon-iconmonstr-download-10-icon,.icon-iconmonstr-tablet-icon,.icon-iconmonstr-computer-3-icon,.icon-iconmonstr-clipboard-5-icon,.icon-iconmonstr-calendar-4-icon,.icon-iconmonstr-document-file-2-icon,.icon-iconmonstr-star-icon,.icon-iconmonstr-time-9-icon,.icon-iconmonstr-time-6-icon,.icon-iconmonstr-pie-chart-2-icon,.icon-iconmonstr-line-chart-icon,.icon-iconmonstr-livejournal-icon,.icon-iconmonstr-full-folder-icon,.icon-iconmonstr-speech-bubble-13-icon,.icon-iconmonstr-email-2-icon,.icon-iconmonstr-globe-4-icon,.icon-iconmonstr-home-4-icon,.icon-iconmonstr-gear-icon,.icon-iconmonstr-window-command-icon,.icon-iconmonstr-refresh-5-icon,.icon-iconmonstr-resize-4-icon,.icon-iconmonstr-magnifier-3-icon,.icon-iconmonstr-redo-4-icon,.icon-iconmonstr-undo-4-icon,.icon-iconmonstr-x-mark-3-icon,.icon-iconmonstr-check-mark-3-icon,.icon-iconmonstr-plus-4-icon,.icon-iconmonstr-arrow-58-icon,.icon-iconmonstr-rss-icon,.icon-iconmonstr-facebook-like-icon,.icon-iconmonstr-user-icon,.icon-iconmonstr-user-14-icon-1,.icon-iconmonstr-phone-icon,.icon-iconmonstr-email-icon,.icon-iconmonstr-photo-camera-4-icon,.icon-iconmonstr-check-mark-icon,.icon-iconmonstr-x-mark-icon,.icon-iconmonstr-video-5-icon,.icon-iconmonstr-info-5-icon,.icon-iconmonstr-help-2-icon,.icon-iconmonstr-arrow-32-icon,.icon-iconmonstr-microphone-icon,.icon-iconmonstr-inbox-6-icon,.icon-iconmonstr-window-layout-icon,.icon-iconmonstr-compass-9-icon,.icon-iconmonstr-navigation-2-icon,.icon-iconmonstr-location-2-icon,.icon-iconmonstr-location-3-icon,.icon-iconmonstr-location-4-icon,.icon-iconmonstr-location-5-icon,.icon-iconmonstr-basket-2-icon,.icon-iconmonstr-shopping-cart-icon,.icon-iconmonstr-basket-12-icon,.icon-iconmonstr-shopping-cart-3-icon,.icon-iconmonstr-shopping-cart-13-icon,.icon-iconmonstr-lock-icon,.icon-iconmonstr-share-4-icon,.icon-iconmonstr-server-4-icon,.icon-iconmonstr-database-icon,.icon-iconmonstr-laptop-4-icon,.icon-iconmonstr-link-2-icon,.icon-iconmonstr-warning-6-icon,.icon-iconmonstr-dashboard-3-icon,.icon-iconmonstr-favorite-3-icon,.icon-iconmonstr-error-5-icon {
	display: inline-block;
	width: 28px;
	height: 28px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-iconmonstr-twitter-icon {
	background-position: 0 0;
}
.icon-iconmonstr-soundcloud-icon {
	background-position: -56px 0;
}
.icon-iconmonstr-pinterest-icon {
	background-position: -112px 0;
}
.icon-iconmonstr-google-plus-icon {
	background-position: -168px 0;
}
.icon-iconmonstr-github-6-icon {
	background-position: -224px 0;
}
.icon-iconmonstr-facebook-icon {
	background-position: -280px 0;
}
.icon-iconmonstr-dribbble-icon {
	background-position: -336px 0;
}
.icon-iconmonstr-deviantart-icon {
	background-position: -392px 0;
}
.icon-iconmonstr-youtube-icon {
	background-position: -448px 0;
}
.icon-iconmonstr-user-14-icon {
	background-position: -504px 0;
}
.icon-iconmonstr-smartphone-4-icon {
	background-position: -560px 0;
}
.icon-iconmonstr-cloud-3-icon {
	background-position: -616px 0;
}
.icon-iconmonstr-upload-10-icon {
	background-position: -672px 0;
}
.icon-iconmonstr-download-10-icon {
	background-position: 0 -56px;
}
.icon-iconmonstr-tablet-icon {
	background-position: -56px -56px;
}
.icon-iconmonstr-computer-3-icon {
	background-position: -112px -56px;
}
.icon-iconmonstr-clipboard-5-icon {
	background-position: -168px -56px;
}
.icon-iconmonstr-calendar-4-icon {
	background-position: -224px -56px;
}
.icon-iconmonstr-document-file-2-icon {
	background-position: -280px -56px;
}
.icon-iconmonstr-star-icon {
	background-position: -336px -56px;
}
.icon-iconmonstr-time-9-icon {
	background-position: -392px -56px;
}
.icon-iconmonstr-time-6-icon {
	background-position: -448px -56px;
}
.icon-iconmonstr-pie-chart-2-icon {
	background-position: -504px -56px;
}
.icon-iconmonstr-line-chart-icon {
	background-position: -560px -56px;
}
.icon-iconmonstr-livejournal-icon {
	background-position: -616px -56px;
}
.icon-iconmonstr-full-folder-icon {
	background-position: -672px -56px;
}
.icon-iconmonstr-speech-bubble-13-icon {
	background-position: 0 -112px;
}
.icon-iconmonstr-email-2-icon {
	background-position: -56px -112px;
}
.icon-iconmonstr-globe-4-icon {
	background-position: -112px -112px;
}
.icon-iconmonstr-home-4-icon {
	background-position: -168px -112px;
}
.icon-iconmonstr-gear-icon {
	background-position: -224px -112px;
}
.icon-iconmonstr-window-command-icon {
	background-position: -280px -112px;
}
.icon-iconmonstr-refresh-5-icon {
	background-position: -336px -112px;
}
.icon-iconmonstr-resize-4-icon {
	background-position: -392px -112px;
}
.icon-iconmonstr-magnifier-3-icon {
	background-position: -448px -112px;
}
.icon-iconmonstr-redo-4-icon {
	background-position: -504px -112px;
	width: 32px;
	height: 32px;
}
.icon-iconmonstr-undo-4-icon {
	background-position: -560px -112px;
	width: 32px;
	height: 32px;
}
.icon-iconmonstr-x-mark-3-icon {
	background-position: -616px -112px;
}
.icon-iconmonstr-check-mark-3-icon {
	background-position: -672px -112px;
}
.icon-iconmonstr-plus-4-icon {
	background-position: 0 -168px;
}
.icon-iconmonstr-arrow-58-icon {
	background-position: -56px -168px;
}
.icon-iconmonstr-rss-icon {
	background-position: -112px -168px;
}
.icon-iconmonstr-facebook-like-icon {
	background-position: -168px -168px;
}
.icon-iconmonstr-user-icon {
	background-position: -224px -168px;
}
.icon-iconmonstr-user-14-icon-1 {
	background-position: -280px -168px;
}
.icon-iconmonstr-phone-icon {
	background-position: -336px -168px;
}
.icon-iconmonstr-email-icon {
	background-position: -392px -168px;
}
.icon-iconmonstr-photo-camera-4-icon {
	background-position: -448px -168px;
}
.icon-iconmonstr-check-mark-icon {
	background-position: -504px -168px;
}
.icon-iconmonstr-x-mark-icon {
	background-position: -560px -168px;
}
.icon-iconmonstr-video-5-icon {
	background-position: -616px -168px;
}
.icon-iconmonstr-info-5-icon {
	background-position: -672px -168px;
}
.icon-iconmonstr-help-2-icon {
	background-position: 0 -224px;
}
.icon-iconmonstr-arrow-32-icon {
	background-position: -56px -224px;
}
.icon-iconmonstr-microphone-icon {
	background-position: -112px -224px;
}
.icon-iconmonstr-inbox-6-icon {
	background-position: -168px -224px;
}
.icon-iconmonstr-window-layout-icon {
	background-position: -224px -224px;
}
.icon-iconmonstr-compass-9-icon {
	background-position: -280px -224px;
}
.icon-iconmonstr-navigation-2-icon {
	background-position: -336px -224px;
}
.icon-iconmonstr-location-2-icon {
	background-position: -392px -224px;
}
.icon-iconmonstr-location-3-icon {
	background-position: -448px -224px;
}
.icon-iconmonstr-location-4-icon {
	background-position: -504px -224px;
}
.icon-iconmonstr-location-5-icon {
	background-position: -560px -224px;
}
.icon-iconmonstr-basket-2-icon {
	background-position: -616px -224px;
}
.icon-iconmonstr-shopping-cart-icon {
	background-position: -672px -224px;
}
.icon-iconmonstr-basket-12-icon {
	background-position: 0 -280px;
}
.icon-iconmonstr-shopping-cart-3-icon {
	background-position: -56px -280px;
}
.icon-iconmonstr-shopping-cart-13-icon {
	background-position: -112px -280px;
}
.icon-iconmonstr-lock-icon {
	background-position: -168px -280px;
}
.icon-iconmonstr-share-4-icon {
	background-position: -224px -280px;
}
.icon-iconmonstr-server-4-icon {
	background-position: -280px -280px;
}
.icon-iconmonstr-database-icon {
	background-position: -336px -280px;
}
.icon-iconmonstr-laptop-4-icon {
	background-position: -392px -280px;
}
.icon-iconmonstr-link-2-icon {
	background-position: -448px -280px;
}
.icon-iconmonstr-warning-6-icon {
	background-position: -504px -280px;
}
.icon-iconmonstr-dashboard-3-icon {
	background-position: -560px -280px;
}
.icon-iconmonstr-favorite-3-icon {
	background-position: -616px -280px;
}
.icon-iconmonstr-error-5-icon {
	background-position: -672px -280px;
}
