.icon-wordpress,.icon-wine,.icon-tooth,.icon-teapot,.icon-stiletto,.icon-speed,.icon-spaceinvaders,.icon-remove,.icon-ok,.icon-marvin,.icon-martini,.icon-jqueryui,.icon-insertpictureright,.icon-insertpictureleft,.icon-insertpicturecenter,.icon-hydrant,.icon-html5,.icon-home,.icon-heart,.icon-grid-small,.icon-grid-large,.icon-greenlightbulb,.icon-fishbone,.icon-drupal,.icon-dna,.icon-css3,.icon-checkin,.icon-broom,.icon-bread,.icon-blackberry,.icon-automobile,.icon-angrybirds,.icon-alienware,.icon-warning,.icon-vcard,.icon-users,.icon-user,.icon-user-add,.icon-underline,.icon-umbrella,.icon-tools,.icon-thumbs-up,.icon-thumbs-down,.icon-tags,.icon-tag,.icon-strikethrough,.icon-sort,.icon-sort-up,.icon-sort-down,.icon-rss,.icon-road,.icon-reply,.icon-reply-all,.icon-reorder,.icon-question,.icon-pencil,.icon-paperplane,.icon-newspaper,.icon-move,.icon-medkit,.icon-map,.icon-mail,.icon-magnet,.icon-location,.icon-leaf,.icon-laptop,.icon-key,.icon-italic,.icon-install,.icon-hospital,.icon-help,.icon-heart-empty,.icon-github-sign,.icon-gauge,.icon-forward,.icon-fighter-jet,.icon-facetime-video,.icon-eye-open,.icon-eye-close,.icon-export,.icon-erase,.icon-drive,.icon-desktop,.icon-database,.icon-copy,.icon-cone,.icon-columns,.icon-clock,.icon-caret-up,.icon-caret-right,.icon-caret-left,.icon-caret-down,.icon-building,.icon-bucket,.icon-brush,.icon-briefcase,.icon-bold,.icon-arrow-up,.icon-arrow-up--upload,.icon-arrow-right2,.icon-arrow-right,.icon-arrow-left3,.icon-arrow-left2,.icon-arrow-left,.icon-arrow-down3,.icon-arrow-down2,.icon-arrow-down,.icon-archive,.icon-ambulance,.icon-align-right,.icon-align-left,.icon-align-justify,.icon-align-center,.icon-airplane,.icon-window,.icon-washing-machine,.icon-vote,.icon-upload,.icon-tie,.icon-ticket,.icon-thermometer,.icon-tablet,.icon-sun,.icon-suitcase,.icon-stats,.icon-stack,.icon-soccer,.icon-snow,.icon-sitemap,.icon-safe,.icon-ruler,.icon-rocket,.icon-resize,.icon-refrigerator,.icon-rain,.icon-presentation,.icon-plus,.icon-plug,.icon-pinterest,.icon-pinterest-sign,.icon-pig,.icon-photos,.icon-photo,.icon-phone,.icon-paper-plane,.icon-open,.icon-nuke,.icon-notice,.icon-music2,.icon-mug,.icon-moon,.icon-mobile,.icon-minus,.icon-microphone,.icon-map-pin,.icon-list,.icon-list-alt,.icon-lightning,.icon-library,.icon-layout,.icon-layout-split,.icon-layout-split-header,.icon-layout-rows,.icon-layout-right,.icon-layout-right-header,.icon-layout-left,.icon-layout-left-rows,.icon-layout-left-header,.icon-layout-left-header-rows,.icon-layout-header,.icon-layout-grid,.icon-layout-grid-alt,.icon-layout-columns,.icon-lab,.icon-justice,.icon-info,.icon-info-sign,.icon-ice-cream,.icon-health,.icon-headphones,.icon-graduate,.icon-github3,.icon-equalizer,.icon-envelope,.icon-eight-ball,.icon-drink3,.icon-drink2,.icon-drink,.icon-direction,.icon-cut,.icon-cube,.icon-crop,.icon-comments2,.icon-coffee3,.icon-cloudy2,.icon-cloudy,.icon-chat2,.icon-chart2,.icon-chart,.icon-cc,.icon-cc-zero,.icon-cc-share2,.icon-cc-share,.icon-cc-sa,.icon-cc-pd,.icon-cc-nd,.icon-cc-nc,.icon-cc-nc-jp,.icon-cc-nc-eu,.icon-cc-by,.icon-cassette,.icon-cancel2,.icon-cancel,.icon-calendar2,.icon-cabinet2,.icon-bomb,.icon-basket,.icon-badge,.icon-auction,.icon-attachment,.icon-arrow-up2,.icon-arrow-right4,.icon-arrow-right3,.icon-arrow-down4,.icon-archive2,.icon-aids,.icon-address-book,.icon-d-glasses,.icon-zoom-out,.icon-zoom-in,.icon-zip,.icon-youtube-alt,.icon-windy,.icon-wind,.icon-weather,.icon-undo,.icon-twitter3,.icon-tv,.icon-truck,.icon-table,.icon-support,.icon-sunrise,.icon-sun3,.icon-sun2,.icon-stop,.icon-spinner,.icon-soundcloud,.icon-snowflake,.icon-signup,.icon-share2,.icon-safari,.icon-redo,.icon-rate-half,.icon-rate-full,.icon-rate-empty,.icon-profile,.icon-printer,.icon-pilcrow,.icon-paste,.icon-pacman,.icon-opera,.icon-new-tab,.icon-moon2,.icon-lock,.icon-link,.icon-indent-increase,.icon-indent-decrease,.icon-images,.icon-image2,.icon-IE,.icon-google-plus,.icon-github-sign-alt,.icon-food2,.icon-font2,.icon-flickr2,.icon-flag,.icon-firefox,.icon-fire,.icon-file-xml,.icon-file-powerpoint,.icon-file-pdf,.icon-file-css,.icon-feed,.icon-facebook4,.icon-expand2,.icon-embed,.icon-droplet,.icon-dribbble2,.icon-contract,.icon-console,.icon-cog2,.icon-code,.icon-cloudy3,.icon-cloud3,.icon-cloud2,.icon-cloud-upload,.icon-cloud-download,.icon-close,.icon-clipboard4,.icon-chrome,.icon-checkmark3,.icon-camera3,.icon-calculate,.icon-bubbles,.icon-books,.icon-bookmarks,.icon-bookmark5,.icon-blocked,.icon-binoculars,.icon-atom,.icon-arrow-up4,.icon-arrow-up-right,.icon-arrow-up-left,.icon-arrow-right6,.icon-arrow-left5,.icon-arrow-down6,.icon-arrow-down-right,.icon-arrow-down-left,.icon-apple,.icon-android2,.icon-alarm,.icon-aid,.icon-windy5,.icon-windy4,.icon-windy3,.icon-windy2,.icon-weather5,.icon-weather4,.icon-weather3,.icon-weather2,.icon-sun4,.icon-snowy5,.icon-snowy4,.icon-snowy3,.icon-snowy2,.icon-snowy,.icon-rainy4,.icon-rainy3,.icon-rainy2,.icon-rainy,.icon-none,.icon-moon3,.icon-lightning6,.icon-lightning5,.icon-lightning4,.icon-lightning3,.icon-lightning2,.icon-Fahrenheit,.icon-compass4,.icon-cloudy6,.icon-cloudy5,.icon-cloudy4,.icon-cloud7,.icon-cloud6,.icon-cloud5,.icon-cloud4,.icon-Celsius {
	display: inline-block;
	width: 140px;
	height: 140px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-wordpress {
	background-position: 0 0;
}
.icon-wine {
	background-position: -280px 0;
}
.icon-tooth {
	background-position: -560px 0;
}
.icon-teapot {
	background-position: -840px 0;
}
.icon-stiletto {
	background-position: -1120px 0;
}
.icon-speed {
	background-position: -1400px 0;
}
.icon-spaceinvaders {
	background-position: -1680px 0;
}
.icon-remove {
	background-position: -1960px 0;
}
.icon-ok {
	background-position: -2240px 0;
}
.icon-marvin {
	background-position: -2520px 0;
}
.icon-martini {
	background-position: -2800px 0;
}
.icon-jqueryui {
	background-position: -3080px 0;
}
.icon-insertpictureright {
	background-position: -3360px 0;
}
.icon-insertpictureleft {
	background-position: -3640px 0;
}
.icon-insertpicturecenter {
	background-position: -3920px 0;
}
.icon-hydrant {
	background-position: -4200px 0;
}
.icon-html5 {
	background-position: -4480px 0;
}
.icon-home {
	background-position: -4760px 0;
}
.icon-heart {
	background-position: -5040px 0;
}
.icon-grid-small {
	background-position: -5320px 0;
}
.icon-grid-large {
	background-position: -5600px 0;
}
.icon-greenlightbulb {
	background-position: -5880px 0;
}
.icon-fishbone {
	background-position: -6160px 0;
}
.icon-drupal {
	background-position: -6440px 0;
}
.icon-dna {
	background-position: -6720px 0;
}
.icon-css3 {
	background-position: -7000px 0;
}
.icon-checkin {
	background-position: -7280px 0;
}
.icon-broom {
	background-position: -7560px 0;
}
.icon-bread {
	background-position: -7840px 0;
	height: 140px;
}
.icon-blackberry {
	background-position: -8120px 0;
	width: 141px;
}
.icon-automobile {
	background-position: 0 -280px;
}
.icon-angrybirds {
	background-position: -280px -280px;
}
.icon-alienware {
	background-position: -560px -280px;
}
.icon-warning {
	background-position: -840px -280px;
}
.icon-vcard {
	background-position: -1120px -280px;
}
.icon-users {
	background-position: -1400px -280px;
}
.icon-user {
	background-position: -1680px -280px;
}
.icon-user-add {
	background-position: -1960px -280px;
}
.icon-underline {
	background-position: -2240px -280px;
}
.icon-umbrella {
	background-position: -2520px -280px;
}
.icon-tools {
	background-position: -2800px -280px;
}
.icon-thumbs-up {
	background-position: -3080px -280px;
}
.icon-thumbs-down {
	background-position: -3360px -280px;
}
.icon-tags {
	background-position: -3640px -280px;
}
.icon-tag {
	background-position: -3920px -280px;
}
.icon-strikethrough {
	background-position: -4200px -280px;
}
.icon-sort {
	background-position: -4480px -280px;
}
.icon-sort-up {
	background-position: -4760px -280px;
}
.icon-sort-down {
	background-position: -5040px -280px;
}
.icon-rss {
	background-position: -5320px -280px;
}
.icon-road {
	background-position: -5600px -280px;
}
.icon-reply {
	background-position: -5880px -280px;
}
.icon-reply-all {
	background-position: -6160px -280px;
}
.icon-reorder {
	background-position: -6440px -280px;
}
.icon-question {
	background-position: -6720px -280px;
}
.icon-pencil {
	background-position: -7000px -280px;
}
.icon-paperplane {
	background-position: -7280px -280px;
}
.icon-newspaper {
	background-position: -7560px -280px;
}
.icon-move {
	background-position: -7840px -280px;
}
.icon-medkit {
	background-position: -8120px -280px;
}
.icon-map {
	background-position: 0 -560px;
}
.icon-mail {
	background-position: -280px -560px;
}
.icon-magnet {
	background-position: -560px -560px;
}
.icon-location {
	background-position: -840px -560px;
	width: 143px;
	height: 143px;
}
.icon-leaf {
	background-position: -1120px -560px;
}
.icon-laptop {
	background-position: -1400px -560px;
}
.icon-key {
	background-position: -1680px -560px;
	height: 112px;
}
.icon-italic {
	background-position: -1960px -560px;
}
.icon-install {
	background-position: -2240px -560px;
}
.icon-hospital {
	background-position: -2520px -560px;
}
.icon-help {
	background-position: -2800px -560px;
}
.icon-heart-empty {
	background-position: -3080px -560px;
}
.icon-github-sign {
	background-position: -3360px -560px;
}
.icon-gauge {
	background-position: -3640px -560px;
}
.icon-forward {
	background-position: -3920px -560px;
}
.icon-fighter-jet {
	background-position: -4200px -560px;
}
.icon-facetime-video {
	background-position: -4480px -560px;
}
.icon-eye-open {
	background-position: -4760px -560px;
}
.icon-eye-close {
	background-position: -5040px -560px;
}
.icon-export {
	background-position: -5320px -560px;
}
.icon-erase {
	background-position: -5600px -560px;
	width: 141px;
}
.icon-drive {
	background-position: -5880px -560px;
}
.icon-desktop {
	background-position: -6160px -560px;
}
.icon-database {
	background-position: -6440px -560px;
}
.icon-copy {
	background-position: -6720px -560px;
}
.icon-cone {
	background-position: -7000px -560px;
}
.icon-columns {
	background-position: -7280px -560px;
}
.icon-clock {
	background-position: -7560px -560px;
}
.icon-caret-up {
	background-position: -7840px -560px;
}
.icon-caret-right {
	background-position: -8120px -560px;
}
.icon-caret-left {
	background-position: 0 -840px;
}
.icon-caret-down {
	background-position: -280px -840px;
}
.icon-building {
	background-position: -560px -840px;
}
.icon-bucket {
	background-position: -840px -840px;
}
.icon-brush {
	background-position: -1120px -840px;
	width: 145px;
}
.icon-briefcase {
	background-position: -1400px -840px;
}
.icon-bold {
	background-position: -1680px -840px;
}
.icon-arrow-up {
	background-position: -1960px -840px;
}
.icon-arrow-up--upload {
	background-position: -2240px -840px;
}
.icon-arrow-right2 {
	background-position: -2520px -840px;
}
.icon-arrow-right {
	background-position: -2800px -840px;
}
.icon-arrow-left3 {
	background-position: -3080px -840px;
}
.icon-arrow-left2 {
	background-position: -3360px -840px;
}
.icon-arrow-left {
	background-position: -3640px -840px;
}
.icon-arrow-down3 {
	background-position: -3920px -840px;
}
.icon-arrow-down2 {
	background-position: -4200px -840px;
}
.icon-arrow-down {
	background-position: -4480px -840px;
}
.icon-archive {
	background-position: -4760px -840px;
}
.icon-ambulance {
	background-position: -5040px -840px;
}
.icon-align-right {
	background-position: -5320px -840px;
}
.icon-align-left {
	background-position: -5600px -840px;
}
.icon-align-justify {
	background-position: -5880px -840px;
}
.icon-align-center {
	background-position: -6160px -840px;
}
.icon-airplane {
	background-position: -6440px -840px;
}
.icon-window {
	background-position: -6720px -840px;
}
.icon-washing-machine {
	background-position: -7000px -840px;
}
.icon-vote {
	background-position: -7280px -840px;
}
.icon-upload {
	background-position: -7560px -840px;
}
.icon-tie {
	background-position: -7840px -840px;
}
.icon-ticket {
	background-position: -8120px -840px;
}
.icon-thermometer {
	background-position: 0 -1120px;
}
.icon-tablet {
	background-position: -280px -1120px;
}
.icon-sun {
	background-position: -560px -1120px;
}
.icon-suitcase {
	background-position: -840px -1120px;
}
.icon-stats {
	background-position: -1120px -1120px;
}
.icon-stack {
	background-position: -1400px -1120px;
}
.icon-soccer {
	background-position: -1680px -1120px;
}
.icon-snow {
	background-position: -1960px -1120px;
}
.icon-sitemap {
	background-position: -2240px -1120px;
}
.icon-safe {
	background-position: -2520px -1120px;
}
.icon-ruler {
	background-position: -2800px -1120px;
	width: 184px;
}
.icon-rocket {
	background-position: -3080px -1120px;
	height: 106px;
}
.icon-resize {
	background-position: -3360px -1120px;
}
.icon-refrigerator {
	background-position: -3640px -1120px;
}
.icon-rain {
	background-position: -3920px -1120px;
}
.icon-presentation {
	background-position: -4200px -1120px;
}
.icon-plus {
	background-position: -4480px -1120px;
}
.icon-plug {
	background-position: -4760px -1120px;
}
.icon-pinterest {
	background-position: -5040px -1120px;
	height: 113px;
}
.icon-pinterest-sign {
	background-position: -5320px -1120px;
}
.icon-pig {
	background-position: -5600px -1120px;
}
.icon-photos {
	background-position: -5880px -1120px;
}
.icon-photo {
	background-position: -6160px -1120px;
}
.icon-phone {
	background-position: -6440px -1120px;
}
.icon-paper-plane {
	background-position: -6720px -1120px;
}
.icon-open {
	background-position: -7000px -1120px;
}
.icon-nuke {
	background-position: -7280px -1120px;
}
.icon-notice {
	background-position: -7560px -1120px;
}
.icon-music2 {
	background-position: -7840px -1120px;
}
.icon-mug {
	background-position: -8120px -1120px;
}
.icon-moon {
	background-position: 0 -1400px;
}
.icon-mobile {
	background-position: -280px -1400px;
}
.icon-minus {
	background-position: -560px -1400px;
}
.icon-microphone {
	background-position: -840px -1400px;
}
.icon-map-pin {
	background-position: -1120px -1400px;
}
.icon-list {
	background-position: -1400px -1400px;
}
.icon-list-alt {
	background-position: -1680px -1400px;
}
.icon-lightning {
	background-position: -1960px -1400px;
}
.icon-library {
	background-position: -2240px -1400px;
}
.icon-layout {
	background-position: -2520px -1400px;
}
.icon-layout-split {
	background-position: -2800px -1400px;
}
.icon-layout-split-header {
	background-position: -3080px -1400px;
}
.icon-layout-rows {
	background-position: -3360px -1400px;
}
.icon-layout-right {
	background-position: -3640px -1400px;
}
.icon-layout-right-header {
	background-position: -3920px -1400px;
}
.icon-layout-left {
	background-position: -4200px -1400px;
}
.icon-layout-left-rows {
	background-position: -4480px -1400px;
}
.icon-layout-left-header {
	background-position: -4760px -1400px;
}
.icon-layout-left-header-rows {
	background-position: -5040px -1400px;
}
.icon-layout-header {
	background-position: -5320px -1400px;
}
.icon-layout-grid {
	background-position: -5600px -1400px;
}
.icon-layout-grid-alt {
	background-position: -5880px -1400px;
}
.icon-layout-columns {
	background-position: -6160px -1400px;
}
.icon-lab {
	background-position: -6440px -1400px;
	height: 99px;
}
.icon-justice {
	background-position: -6720px -1400px;
}
.icon-info {
	background-position: -7000px -1400px;
}
.icon-info-sign {
	background-position: -7280px -1400px;
}
.icon-ice-cream {
	background-position: -7560px -1400px;
}
.icon-health {
	background-position: -7840px -1400px;
}
.icon-headphones {
	background-position: -8120px -1400px;
}
.icon-graduate {
	background-position: 0 -1680px;
}
.icon-github3 {
	background-position: -280px -1680px;
}
.icon-equalizer {
	background-position: -560px -1680px;
}
.icon-envelope {
	background-position: -840px -1680px;
}
.icon-eight-ball {
	background-position: -1120px -1680px;
}
.icon-drink3 {
	background-position: -1400px -1680px;
}
.icon-drink2 {
	background-position: -1680px -1680px;
}
.icon-drink {
	background-position: -1960px -1680px;
}
.icon-direction {
	background-position: -2240px -1680px;
}
.icon-cut {
	background-position: -2520px -1680px;
}
.icon-cube {
	background-position: -2800px -1680px;
}
.icon-crop {
	background-position: -3080px -1680px;
}
.icon-comments2 {
	background-position: -3360px -1680px;
}
.icon-coffee3 {
	background-position: -3640px -1680px;
}
.icon-cloudy2 {
	background-position: -3920px -1680px;
	width: 141px;
}
.icon-cloudy {
	background-position: -4200px -1680px;
}
.icon-chat2 {
	background-position: -4480px -1680px;
}
.icon-chart2 {
	background-position: -4760px -1680px;
}
.icon-chart {
	background-position: -5040px -1680px;
}
.icon-cc {
	background-position: -5320px -1680px;
}
.icon-cc-zero {
	background-position: -5600px -1680px;
}
.icon-cc-share2 {
	background-position: -5880px -1680px;
}
.icon-cc-share {
	background-position: -6160px -1680px;
}
.icon-cc-sa {
	background-position: -6440px -1680px;
}
.icon-cc-pd {
	background-position: -6720px -1680px;
}
.icon-cc-nd {
	background-position: -7000px -1680px;
}
.icon-cc-nc {
	background-position: -7280px -1680px;
}
.icon-cc-nc-jp {
	background-position: -7560px -1680px;
}
.icon-cc-nc-eu {
	background-position: -7840px -1680px;
}
.icon-cc-by {
	background-position: -8120px -1680px;
}
.icon-cassette {
	background-position: 0 -1960px;
}
.icon-cancel2 {
	background-position: -280px -1960px;
}
.icon-cancel {
	background-position: -560px -1960px;
}
.icon-calendar2 {
	background-position: -840px -1960px;
}
.icon-cabinet2 {
	background-position: -1120px -1960px;
}
.icon-bomb {
	background-position: -1400px -1960px;
}
.icon-basket {
	background-position: -1680px -1960px;
}
.icon-badge {
	background-position: -1960px -1960px;
}
.icon-auction {
	background-position: -2240px -1960px;
}
.icon-attachment {
	background-position: -2520px -1960px;
	width: 146px;
}
.icon-arrow-up2 {
	background-position: -2800px -1960px;
}
.icon-arrow-right4 {
	background-position: -3080px -1960px;
}
.icon-arrow-right3 {
	background-position: -3360px -1960px;
}
.icon-arrow-down4 {
	background-position: -3640px -1960px;
}
.icon-archive2 {
	background-position: -3920px -1960px;
}
.icon-aids {
	background-position: -4200px -1960px;
}
.icon-address-book {
	background-position: -4480px -1960px;
}
.icon-d-glasses {
	background-position: -4760px -1960px;
}
.icon-zoom-out {
	background-position: -5040px -1960px;
	width: 141px;
	height: 141px;
}
.icon-zoom-in {
	background-position: -5320px -1960px;
	width: 141px;
	height: 141px;
}
.icon-zip {
	background-position: -5600px -1960px;
}
.icon-youtube-alt {
	background-position: -5880px -1960px;
}
.icon-windy {
	background-position: -6160px -1960px;
}
.icon-wind {
	background-position: -6440px -1960px;
}
.icon-weather {
	background-position: -6720px -1960px;
}
.icon-undo {
	background-position: -7000px -1960px;
}
.icon-twitter3 {
	background-position: -7280px -1960px;
}
.icon-tv {
	background-position: -7560px -1960px;
}
.icon-truck {
	background-position: -7840px -1960px;
}
.icon-table {
	background-position: -8120px -1960px;
}
.icon-support {
	background-position: 0 -2240px;
}
.icon-sunrise {
	background-position: -280px -2240px;
}
.icon-sun3 {
	background-position: -560px -2240px;
}
.icon-sun2 {
	background-position: -840px -2240px;
}
.icon-stop {
	background-position: -1120px -2240px;
}
.icon-spinner {
	background-position: -1400px -2240px;
}
.icon-soundcloud {
	background-position: -1680px -2240px;
}
.icon-snowflake {
	background-position: -1960px -2240px;
}
.icon-signup {
	background-position: -2240px -2240px;
}
.icon-share2 {
	background-position: -2520px -2240px;
}
.icon-safari {
	background-position: -2800px -2240px;
}
.icon-redo {
	background-position: -3080px -2240px;
}
.icon-rate-half {
	background-position: -3360px -2240px;
}
.icon-rate-full {
	background-position: -3640px -2240px;
}
.icon-rate-empty {
	background-position: -3920px -2240px;
}
.icon-profile {
	background-position: -4200px -2240px;
}
.icon-printer {
	background-position: -4480px -2240px;
}
.icon-pilcrow {
	background-position: -4760px -2240px;
}
.icon-paste {
	background-position: -5040px -2240px;
}
.icon-pacman {
	background-position: -5320px -2240px;
}
.icon-opera {
	background-position: -5600px -2240px;
}
.icon-new-tab {
	background-position: -5880px -2240px;
}
.icon-moon2 {
	background-position: -6160px -2240px;
}
.icon-lock {
	background-position: -6440px -2240px;
}
.icon-link {
	background-position: -6720px -2240px;
	width: 146px;
	height: 146px;
}
.icon-indent-increase {
	background-position: -7000px -2240px;
}
.icon-indent-decrease {
	background-position: -7280px -2240px;
}
.icon-images {
	background-position: -7560px -2240px;
}
.icon-image2 {
	background-position: -7840px -2240px;
}
.icon-IE {
	background-position: -8120px -2240px;
}
.icon-google-plus {
	background-position: 0 -2520px;
}
.icon-github-sign-alt {
	background-position: -280px -2520px;
}
.icon-food2 {
	background-position: -560px -2520px;
}
.icon-font2 {
	background-position: -840px -2520px;
}
.icon-flickr2 {
	background-position: -1120px -2520px;
}
.icon-flag {
	background-position: -1400px -2520px;
}
.icon-firefox {
	background-position: -1680px -2520px;
	width: 146px;
}
.icon-fire {
	background-position: -1960px -2520px;
	width: 162px;
}
.icon-file-xml {
	background-position: -2240px -2520px;
}
.icon-file-powerpoint {
	background-position: -2520px -2520px;
}
.icon-file-pdf {
	background-position: -2800px -2520px;
}
.icon-file-css {
	background-position: -3080px -2520px;
}
.icon-feed {
	background-position: -3360px -2520px;
}
.icon-facebook4 {
	background-position: -3640px -2520px;
}
.icon-expand2 {
	background-position: -3920px -2520px;
}
.icon-embed {
	background-position: -4200px -2520px;
}
.icon-droplet {
	background-position: -4480px -2520px;
}
.icon-dribbble2 {
	background-position: -4760px -2520px;
}
.icon-contract {
	background-position: -5040px -2520px;
}
.icon-console {
	background-position: -5320px -2520px;
}
.icon-cog2 {
	background-position: -5600px -2520px;
}
.icon-code {
	background-position: -5880px -2520px;
}
.icon-cloudy3 {
	background-position: -6160px -2520px;
}
.icon-cloud3 {
	background-position: -6440px -2520px;
}
.icon-cloud2 {
	background-position: -6720px -2520px;
}
.icon-cloud-upload {
	background-position: -7000px -2520px;
}
.icon-cloud-download {
	background-position: -7280px -2520px;
}
.icon-close {
	background-position: -7560px -2520px;
	width: 141px;
	height: 141px;
}
.icon-clipboard4 {
	background-position: -7840px -2520px;
}
.icon-chrome {
	background-position: -8120px -2520px;
}
.icon-checkmark3 {
	background-position: 0 -2800px;
}
.icon-camera3 {
	background-position: -280px -2800px;
}
.icon-calculate {
	background-position: -560px -2800px;
}
.icon-bubbles {
	background-position: -840px -2800px;
}
.icon-books {
	background-position: -1120px -2800px;
}
.icon-bookmarks {
	background-position: -1400px -2800px;
}
.icon-bookmark5 {
	background-position: -1680px -2800px;
}
.icon-blocked {
	background-position: -1960px -2800px;
}
.icon-binoculars {
	background-position: -2240px -2800px;
}
.icon-atom {
	background-position: -2520px -2800px;
}
.icon-arrow-up4 {
	background-position: -2800px -2800px;
}
.icon-arrow-up-right {
	background-position: -3080px -2800px;
}
.icon-arrow-up-left {
	background-position: -3360px -2800px;
}
.icon-arrow-right6 {
	background-position: -3640px -2800px;
}
.icon-arrow-left5 {
	background-position: -3920px -2800px;
}
.icon-arrow-down6 {
	background-position: -4200px -2800px;
}
.icon-arrow-down-right {
	background-position: -4480px -2800px;
}
.icon-arrow-down-left {
	background-position: -4760px -2800px;
}
.icon-apple {
	background-position: -5040px -2800px;
}
.icon-android2 {
	background-position: -5320px -2800px;
}
.icon-alarm {
	background-position: -5600px -2800px;
}
.icon-aid {
	background-position: -5880px -2800px;
}
.icon-windy5 {
	background-position: -6160px -2800px;
}
.icon-windy4 {
	background-position: -6440px -2800px;
}
.icon-windy3 {
	background-position: -6720px -2800px;
}
.icon-windy2 {
	background-position: -7000px -2800px;
}
.icon-weather5 {
	background-position: -7280px -2800px;
}
.icon-weather4 {
	background-position: -7560px -2800px;
}
.icon-weather3 {
	background-position: -7840px -2800px;
}
.icon-weather2 {
	background-position: -8120px -2800px;
}
.icon-sun4 {
	background-position: 0 -3080px;
}
.icon-snowy5 {
	background-position: -280px -3080px;
}
.icon-snowy4 {
	background-position: -560px -3080px;
}
.icon-snowy3 {
	background-position: -840px -3080px;
}
.icon-snowy2 {
	background-position: -1120px -3080px;
}
.icon-snowy {
	background-position: -1400px -3080px;
}
.icon-rainy4 {
	background-position: -1680px -3080px;
}
.icon-rainy3 {
	background-position: -1960px -3080px;
}
.icon-rainy2 {
	background-position: -2240px -3080px;
}
.icon-rainy {
	background-position: -2520px -3080px;
}
.icon-none {
	background-position: -2800px -3080px;
}
.icon-moon3 {
	background-position: -3080px -3080px;
}
.icon-lightning6 {
	background-position: -3360px -3080px;
}
.icon-lightning5 {
	background-position: -3640px -3080px;
}
.icon-lightning4 {
	background-position: -3920px -3080px;
}
.icon-lightning3 {
	background-position: -4200px -3080px;
}
.icon-lightning2 {
	background-position: -4480px -3080px;
}
.icon-Fahrenheit {
	background-position: -4760px -3080px;
}
.icon-compass4 {
	background-position: -5040px -3080px;
}
.icon-cloudy6 {
	background-position: -5320px -3080px;
}
.icon-cloudy5 {
	background-position: -5600px -3080px;
}
.icon-cloudy4 {
	background-position: -5880px -3080px;
}
.icon-cloud7 {
	background-position: -6160px -3080px;
}
.icon-cloud6 {
	background-position: -6440px -3080px;
}
.icon-cloud5 {
	background-position: -6720px -3080px;
}
.icon-cloud4 {
	background-position: -7000px -3080px;
}
.icon-Celsius {
	background-position: -7280px -3080px;
}
