.icon-wordpress,.icon-wine,.icon-tooth,.icon-teapot,.icon-stiletto,.icon-speed,.icon-spaceinvaders,.icon-remove,.icon-ok,.icon-marvin,.icon-martini,.icon-jqueryui,.icon-insertpictureright,.icon-insertpictureleft,.icon-insertpicturecenter,.icon-hydrant,.icon-html5,.icon-home,.icon-heart,.icon-grid-small,.icon-grid-large,.icon-greenlightbulb,.icon-fishbone,.icon-drupal,.icon-dna,.icon-css3,.icon-checkin,.icon-broom,.icon-bread,.icon-blackberry,.icon-automobile,.icon-angrybirds,.icon-alienware,.icon-warning,.icon-vcard,.icon-users,.icon-user,.icon-user-add,.icon-underline,.icon-umbrella,.icon-tools,.icon-thumbs-up,.icon-thumbs-down,.icon-tags,.icon-tag,.icon-strikethrough,.icon-sort,.icon-sort-up,.icon-sort-down,.icon-rss,.icon-road,.icon-reply,.icon-reply-all,.icon-reorder,.icon-question,.icon-pencil,.icon-paperplane,.icon-newspaper,.icon-move,.icon-medkit,.icon-map,.icon-mail,.icon-magnet,.icon-location,.icon-leaf,.icon-laptop,.icon-key,.icon-italic,.icon-install,.icon-hospital,.icon-help,.icon-heart-empty,.icon-github-sign,.icon-gauge,.icon-forward,.icon-fighter-jet,.icon-facetime-video,.icon-eye-open,.icon-eye-close,.icon-export,.icon-erase,.icon-drive,.icon-desktop,.icon-database,.icon-copy,.icon-cone,.icon-columns,.icon-clock,.icon-caret-up,.icon-caret-right,.icon-caret-left,.icon-caret-down,.icon-building,.icon-bucket,.icon-brush,.icon-briefcase,.icon-bold,.icon-arrow-up,.icon-arrow-up--upload,.icon-arrow-right2,.icon-arrow-right,.icon-arrow-left3,.icon-arrow-left2,.icon-arrow-left,.icon-arrow-down3,.icon-arrow-down2,.icon-arrow-down,.icon-archive,.icon-ambulance,.icon-align-right,.icon-align-left,.icon-align-justify,.icon-align-center,.icon-airplane,.icon-window,.icon-washing-machine,.icon-vote,.icon-upload,.icon-tie,.icon-ticket,.icon-thermometer,.icon-tablet,.icon-sun,.icon-suitcase,.icon-stats,.icon-stack,.icon-soccer,.icon-snow,.icon-sitemap,.icon-safe,.icon-ruler,.icon-rocket,.icon-resize,.icon-refrigerator,.icon-rain,.icon-presentation,.icon-plus,.icon-plug,.icon-pinterest,.icon-pinterest-sign,.icon-pig,.icon-photos,.icon-photo,.icon-phone,.icon-paper-plane,.icon-open,.icon-nuke,.icon-notice,.icon-music2,.icon-mug,.icon-moon,.icon-mobile,.icon-minus,.icon-microphone,.icon-map-pin,.icon-list,.icon-list-alt,.icon-lightning,.icon-library,.icon-layout,.icon-layout-split,.icon-layout-split-header,.icon-layout-rows,.icon-layout-right,.icon-layout-right-header,.icon-layout-left,.icon-layout-left-rows,.icon-layout-left-header,.icon-layout-left-header-rows,.icon-layout-header,.icon-layout-grid,.icon-layout-grid-alt,.icon-layout-columns,.icon-lab,.icon-justice,.icon-info,.icon-info-sign,.icon-ice-cream,.icon-health,.icon-headphones,.icon-graduate,.icon-github3,.icon-equalizer,.icon-envelope,.icon-eight-ball,.icon-drink3,.icon-drink2,.icon-drink,.icon-direction,.icon-cut,.icon-cube,.icon-crop,.icon-comments2,.icon-coffee3,.icon-cloudy2,.icon-cloudy,.icon-chat2,.icon-chart2,.icon-chart,.icon-cc,.icon-cc-zero,.icon-cc-share2,.icon-cc-share,.icon-cc-sa,.icon-cc-pd,.icon-cc-nd,.icon-cc-nc,.icon-cc-nc-jp,.icon-cc-nc-eu,.icon-cc-by,.icon-cassette,.icon-cancel2,.icon-cancel,.icon-calendar2,.icon-cabinet2,.icon-bomb,.icon-basket,.icon-badge,.icon-auction,.icon-attachment,.icon-arrow-up2,.icon-arrow-right4,.icon-arrow-right3,.icon-arrow-down4,.icon-archive2,.icon-aids,.icon-address-book,.icon-d-glasses,.icon-zoom-out,.icon-zoom-in,.icon-zip,.icon-youtube-alt,.icon-windy,.icon-wind,.icon-weather,.icon-undo,.icon-twitter3,.icon-tv,.icon-truck,.icon-table,.icon-support,.icon-sunrise,.icon-sun3,.icon-sun2,.icon-stop,.icon-spinner,.icon-soundcloud,.icon-snowflake,.icon-signup,.icon-share2,.icon-safari,.icon-redo,.icon-rate-half,.icon-rate-full,.icon-rate-empty,.icon-profile,.icon-printer,.icon-pilcrow,.icon-paste,.icon-pacman,.icon-opera,.icon-new-tab,.icon-moon2,.icon-lock,.icon-link,.icon-indent-increase,.icon-indent-decrease,.icon-images,.icon-image2,.icon-IE,.icon-google-plus,.icon-github-sign-alt,.icon-food2,.icon-font2,.icon-flickr2,.icon-flag,.icon-firefox,.icon-fire,.icon-file-xml,.icon-file-powerpoint,.icon-file-pdf,.icon-file-css,.icon-feed,.icon-facebook4,.icon-expand2,.icon-embed,.icon-droplet,.icon-dribbble2,.icon-contract,.icon-console,.icon-cog2,.icon-code,.icon-cloudy3,.icon-cloud3,.icon-cloud2,.icon-cloud-upload,.icon-cloud-download,.icon-close,.icon-clipboard4,.icon-chrome,.icon-checkmark3,.icon-camera3,.icon-calculate,.icon-bubbles,.icon-books,.icon-bookmarks,.icon-bookmark5,.icon-blocked,.icon-binoculars,.icon-atom,.icon-arrow-up4,.icon-arrow-up-right,.icon-arrow-up-left,.icon-arrow-right6,.icon-arrow-left5,.icon-arrow-down6,.icon-arrow-down-right,.icon-arrow-down-left,.icon-apple,.icon-android2,.icon-alarm,.icon-aid,.icon-windy5,.icon-windy4,.icon-windy3,.icon-windy2,.icon-weather5,.icon-weather4,.icon-weather3,.icon-weather2,.icon-sun4,.icon-snowy5,.icon-snowy4,.icon-snowy3,.icon-snowy2,.icon-snowy,.icon-rainy4,.icon-rainy3,.icon-rainy2,.icon-rainy,.icon-none,.icon-moon3,.icon-lightning6,.icon-lightning5,.icon-lightning4,.icon-lightning3,.icon-lightning2,.icon-Fahrenheit,.icon-compass4,.icon-cloudy6,.icon-cloudy5,.icon-cloudy4,.icon-cloud7,.icon-cloud6,.icon-cloud5,.icon-cloud4,.icon-Celsius {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-wordpress {
	background-position: 0 0;
}
.icon-wine {
	background-position: -112px 0;
}
.icon-tooth {
	background-position: -224px 0;
}
.icon-teapot {
	background-position: -336px 0;
}
.icon-stiletto {
	background-position: -448px 0;
}
.icon-speed {
	background-position: -560px 0;
}
.icon-spaceinvaders {
	background-position: -672px 0;
}
.icon-remove {
	background-position: -784px 0;
}
.icon-ok {
	background-position: -896px 0;
}
.icon-marvin {
	background-position: -1008px 0;
}
.icon-martini {
	background-position: -1120px 0;
}
.icon-jqueryui {
	background-position: -1232px 0;
}
.icon-insertpictureright {
	background-position: -1344px 0;
}
.icon-insertpictureleft {
	background-position: -1456px 0;
}
.icon-insertpicturecenter {
	background-position: -1568px 0;
}
.icon-hydrant {
	background-position: -1680px 0;
}
.icon-html5 {
	background-position: -1792px 0;
}
.icon-home {
	background-position: -1904px 0;
}
.icon-heart {
	background-position: -2016px 0;
}
.icon-grid-small {
	background-position: -2128px 0;
}
.icon-grid-large {
	background-position: -2240px 0;
}
.icon-greenlightbulb {
	background-position: -2352px 0;
}
.icon-fishbone {
	background-position: -2464px 0;
}
.icon-drupal {
	background-position: -2576px 0;
}
.icon-dna {
	background-position: -2688px 0;
}
.icon-css3 {
	background-position: -2800px 0;
}
.icon-checkin {
	background-position: -2912px 0;
}
.icon-broom {
	background-position: -3024px 0;
}
.icon-bread {
	background-position: -3136px 0;
	height: 56px;
}
.icon-blackberry {
	background-position: -3248px 0;
}
.icon-automobile {
	background-position: 0 -112px;
}
.icon-angrybirds {
	background-position: -112px -112px;
}
.icon-alienware {
	background-position: -224px -112px;
}
.icon-warning {
	background-position: -336px -112px;
}
.icon-vcard {
	background-position: -448px -112px;
}
.icon-users {
	background-position: -560px -112px;
}
.icon-user {
	background-position: -672px -112px;
}
.icon-user-add {
	background-position: -784px -112px;
}
.icon-underline {
	background-position: -896px -112px;
}
.icon-umbrella {
	background-position: -1008px -112px;
}
.icon-tools {
	background-position: -1120px -112px;
}
.icon-thumbs-up {
	background-position: -1232px -112px;
}
.icon-thumbs-down {
	background-position: -1344px -112px;
}
.icon-tags {
	background-position: -1456px -112px;
	width: 59px;
}
.icon-tag {
	background-position: -1568px -112px;
}
.icon-strikethrough {
	background-position: -1680px -112px;
}
.icon-sort {
	background-position: -1792px -112px;
}
.icon-sort-up {
	background-position: -1904px -112px;
}
.icon-sort-down {
	background-position: -2016px -112px;
}
.icon-rss {
	background-position: -2128px -112px;
}
.icon-road {
	background-position: -2240px -112px;
	width: 57px;
}
.icon-reply {
	background-position: -2352px -112px;
}
.icon-reply-all {
	background-position: -2464px -112px;
}
.icon-reorder {
	background-position: -2576px -112px;
}
.icon-question {
	background-position: -2688px -112px;
}
.icon-pencil {
	background-position: -2800px -112px;
}
.icon-paperplane {
	background-position: -2912px -112px;
}
.icon-newspaper {
	background-position: -3024px -112px;
}
.icon-move {
	background-position: -3136px -112px;
}
.icon-medkit {
	background-position: -3248px -112px;
}
.icon-map {
	background-position: 0 -224px;
}
.icon-mail {
	background-position: -112px -224px;
}
.icon-magnet {
	background-position: -224px -224px;
}
.icon-location {
	background-position: -336px -224px;
	width: 57px;
	height: 57px;
}
.icon-leaf {
	background-position: -448px -224px;
}
.icon-laptop {
	background-position: -560px -224px;
	width: 60px;
}
.icon-key {
	background-position: -672px -224px;
}
.icon-italic {
	background-position: -784px -224px;
}
.icon-install {
	background-position: -896px -224px;
}
.icon-hospital {
	background-position: -1008px -224px;
}
.icon-help {
	background-position: -1120px -224px;
}
.icon-heart-empty {
	background-position: -1232px -224px;
}
.icon-github-sign {
	background-position: -1344px -224px;
}
.icon-gauge {
	background-position: -1456px -224px;
}
.icon-forward {
	background-position: -1568px -224px;
}
.icon-fighter-jet {
	background-position: -1680px -224px;
	width: 60px;
}
.icon-facetime-video {
	background-position: -1792px -224px;
	width: 60px;
}
.icon-eye-open {
	background-position: -1904px -224px;
}
.icon-eye-close {
	background-position: -2016px -224px;
}
.icon-export {
	background-position: -2128px -224px;
}
.icon-erase {
	background-position: -2240px -224px;
}
.icon-drive {
	background-position: -2352px -224px;
}
.icon-desktop {
	background-position: -2464px -224px;
	width: 60px;
}
.icon-database {
	background-position: -2576px -224px;
}
.icon-copy {
	background-position: -2688px -224px;
}
.icon-cone {
	background-position: -2800px -224px;
}
.icon-columns {
	background-position: -2912px -224px;
}
.icon-clock {
	background-position: -3024px -224px;
}
.icon-caret-up {
	background-position: -3136px -224px;
}
.icon-caret-right {
	background-position: -3248px -224px;
}
.icon-caret-left {
	background-position: 0 -336px;
}
.icon-caret-down {
	background-position: -112px -336px;
}
.icon-building {
	background-position: -224px -336px;
}
.icon-bucket {
	background-position: -336px -336px;
}
.icon-brush {
	background-position: -448px -336px;
	width: 58px;
}
.icon-briefcase {
	background-position: -560px -336px;
}
.icon-bold {
	background-position: -672px -336px;
}
.icon-arrow-up {
	background-position: -784px -336px;
}
.icon-arrow-up--upload {
	background-position: -896px -336px;
}
.icon-arrow-right2 {
	background-position: -1008px -336px;
}
.icon-arrow-right {
	background-position: -1120px -336px;
}
.icon-arrow-left3 {
	background-position: -1232px -336px;
}
.icon-arrow-left2 {
	background-position: -1344px -336px;
}
.icon-arrow-left {
	background-position: -1456px -336px;
}
.icon-arrow-down3 {
	background-position: -1568px -336px;
}
.icon-arrow-down2 {
	background-position: -1680px -336px;
}
.icon-arrow-down {
	background-position: -1792px -336px;
}
.icon-archive {
	background-position: -1904px -336px;
}
.icon-ambulance {
	background-position: -2016px -336px;
	width: 58px;
}
.icon-align-right {
	background-position: -2128px -336px;
}
.icon-align-left {
	background-position: -2240px -336px;
}
.icon-align-justify {
	background-position: -2352px -336px;
}
.icon-align-center {
	background-position: -2464px -336px;
}
.icon-airplane {
	background-position: -2576px -336px;
}
.icon-window {
	background-position: -2688px -336px;
}
.icon-washing-machine {
	background-position: -2800px -336px;
}
.icon-vote {
	background-position: -2912px -336px;
}
.icon-upload {
	background-position: -3024px -336px;
	width: 60px;
}
.icon-tie {
	background-position: -3136px -336px;
}
.icon-ticket {
	background-position: -3248px -336px;
	width: 70px;
}
.icon-thermometer {
	background-position: 0 -448px;
}
.icon-tablet {
	background-position: -112px -448px;
}
.icon-sun {
	background-position: -224px -448px;
}
.icon-suitcase {
	background-position: -336px -448px;
}
.icon-stats {
	background-position: -448px -448px;
}
.icon-stack {
	background-position: -560px -448px;
}
.icon-soccer {
	background-position: -672px -448px;
}
.icon-snow {
	background-position: -784px -448px;
}
.icon-sitemap {
	background-position: -896px -448px;
}
.icon-safe {
	background-position: -1008px -448px;
}
.icon-ruler {
	background-position: -1120px -448px;
	width: 74px;
}
.icon-rocket {
	background-position: -1232px -448px;
	height: 42px;
}
.icon-resize {
	background-position: -1344px -448px;
}
.icon-refrigerator {
	background-position: -1456px -448px;
}
.icon-rain {
	background-position: -1568px -448px;
}
.icon-presentation {
	background-position: -1680px -448px;
}
.icon-plus {
	background-position: -1792px -448px;
}
.icon-plug {
	background-position: -1904px -448px;
}
.icon-pinterest {
	background-position: -2016px -448px;
	height: 45px;
}
.icon-pinterest-sign {
	background-position: -2128px -448px;
}
.icon-pig {
	background-position: -2240px -448px;
}
.icon-photos {
	background-position: -2352px -448px;
}
.icon-photo {
	background-position: -2464px -448px;
}
.icon-phone {
	background-position: -2576px -448px;
}
.icon-paper-plane {
	background-position: -2688px -448px;
}
.icon-open {
	background-position: -2800px -448px;
}
.icon-nuke {
	background-position: -2912px -448px;
	width: 63px;
}
.icon-notice {
	background-position: -3024px -448px;
}
.icon-music2 {
	background-position: -3136px -448px;
}
.icon-mug {
	background-position: -3248px -448px;
}
.icon-moon {
	background-position: 0 -560px;
}
.icon-mobile {
	background-position: -112px -560px;
}
.icon-minus {
	background-position: -224px -560px;
}
.icon-microphone {
	background-position: -336px -560px;
}
.icon-map-pin {
	background-position: -448px -560px;
}
.icon-list {
	background-position: -560px -560px;
}
.icon-list-alt {
	background-position: -672px -560px;
}
.icon-lightning {
	background-position: -784px -560px;
}
.icon-library {
	background-position: -896px -560px;
}
.icon-layout {
	background-position: -1008px -560px;
}
.icon-layout-split {
	background-position: -1120px -560px;
}
.icon-layout-split-header {
	background-position: -1232px -560px;
}
.icon-layout-rows {
	background-position: -1344px -560px;
}
.icon-layout-right {
	background-position: -1456px -560px;
}
.icon-layout-right-header {
	background-position: -1568px -560px;
}
.icon-layout-left {
	background-position: -1680px -560px;
}
.icon-layout-left-rows {
	background-position: -1792px -560px;
}
.icon-layout-left-header {
	background-position: -1904px -560px;
}
.icon-layout-left-header-rows {
	background-position: -2016px -560px;
}
.icon-layout-header {
	background-position: -2128px -560px;
}
.icon-layout-grid {
	background-position: -2240px -560px;
}
.icon-layout-grid-alt {
	background-position: -2352px -560px;
}
.icon-layout-columns {
	background-position: -2464px -560px;
}
.icon-lab {
	background-position: -2576px -560px;
	height: 40px;
}
.icon-justice {
	background-position: -2688px -560px;
}
.icon-info {
	background-position: -2800px -560px;
}
.icon-info-sign {
	background-position: -2912px -560px;
}
.icon-ice-cream {
	background-position: -3024px -560px;
}
.icon-health {
	background-position: -3136px -560px;
}
.icon-headphones {
	background-position: -3248px -560px;
}
.icon-graduate {
	background-position: 0 -672px;
	width: 74px;
}
.icon-github3 {
	background-position: -112px -672px;
}
.icon-equalizer {
	background-position: -224px -672px;
}
.icon-envelope {
	background-position: -336px -672px;
}
.icon-eight-ball {
	background-position: -448px -672px;
}
.icon-drink3 {
	background-position: -560px -672px;
}
.icon-drink2 {
	background-position: -672px -672px;
}
.icon-drink {
	background-position: -784px -672px;
}
.icon-direction {
	background-position: -896px -672px;
}
.icon-cut {
	background-position: -1008px -672px;
}
.icon-cube {
	background-position: -1120px -672px;
}
.icon-crop {
	background-position: -1232px -672px;
}
.icon-comments2 {
	background-position: -1344px -672px;
	width: 60px;
}
.icon-coffee3 {
	background-position: -1456px -672px;
}
.icon-cloudy2 {
	background-position: -1568px -672px;
	width: 62px;
}
.icon-cloudy {
	background-position: -1680px -672px;
	width: 66px;
}
.icon-chat2 {
	background-position: -1792px -672px;
}
.icon-chart2 {
	background-position: -1904px -672px;
}
.icon-chart {
	background-position: -2016px -672px;
}
.icon-cc {
	background-position: -2128px -672px;
}
.icon-cc-zero {
	background-position: -2240px -672px;
}
.icon-cc-share2 {
	background-position: -2352px -672px;
}
.icon-cc-share {
	background-position: -2464px -672px;
}
.icon-cc-sa {
	background-position: -2576px -672px;
}
.icon-cc-pd {
	background-position: -2688px -672px;
}
.icon-cc-nd {
	background-position: -2800px -672px;
}
.icon-cc-nc {
	background-position: -2912px -672px;
}
.icon-cc-nc-jp {
	background-position: -3024px -672px;
}
.icon-cc-nc-eu {
	background-position: -3136px -672px;
}
.icon-cc-by {
	background-position: -3248px -672px;
}
.icon-cassette {
	background-position: 0 -784px;
}
.icon-cancel2 {
	background-position: -112px -784px;
}
.icon-cancel {
	background-position: -224px -784px;
}
.icon-calendar2 {
	background-position: -336px -784px;
}
.icon-cabinet2 {
	background-position: -448px -784px;
}
.icon-bomb {
	background-position: -560px -784px;
	width: 64px;
}
.icon-basket {
	background-position: -672px -784px;
}
.icon-badge {
	background-position: -784px -784px;
}
.icon-auction {
	background-position: -896px -784px;
}
.icon-attachment {
	background-position: -1008px -784px;
	width: 59px;
}
.icon-arrow-up2 {
	background-position: -1120px -784px;
}
.icon-arrow-right4 {
	background-position: -1232px -784px;
}
.icon-arrow-right3 {
	background-position: -1344px -784px;
}
.icon-arrow-down4 {
	background-position: -1456px -784px;
}
.icon-archive2 {
	background-position: -1568px -784px;
}
.icon-aids {
	background-position: -1680px -784px;
}
.icon-address-book {
	background-position: -1792px -784px;
}
.icon-d-glasses {
	background-position: -1904px -784px;
	width: 79px;
}
.icon-zoom-out {
	background-position: -2016px -784px;
	width: 57px;
	height: 57px;
}
.icon-zoom-in {
	background-position: -2128px -784px;
	width: 57px;
	height: 57px;
}
.icon-zip {
	background-position: -2240px -784px;
}
.icon-youtube-alt {
	background-position: -2352px -784px;
}
.icon-windy {
	background-position: -2464px -784px;
}
.icon-wind {
	background-position: -2576px -784px;
}
.icon-weather {
	background-position: -2688px -784px;
}
.icon-undo {
	background-position: -2800px -784px;
}
.icon-twitter3 {
	background-position: -2912px -784px;
}
.icon-tv {
	background-position: -3024px -784px;
}
.icon-truck {
	background-position: -3136px -784px;
}
.icon-table {
	background-position: -3248px -784px;
}
.icon-support {
	background-position: 0 -896px;
}
.icon-sunrise {
	background-position: -112px -896px;
}
.icon-sun3 {
	background-position: -224px -896px;
}
.icon-sun2 {
	background-position: -336px -896px;
}
.icon-stop {
	background-position: -448px -896px;
}
.icon-spinner {
	background-position: -560px -896px;
}
.icon-soundcloud {
	background-position: -672px -896px;
}
.icon-snowflake {
	background-position: -784px -896px;
}
.icon-signup {
	background-position: -896px -896px;
}
.icon-share2 {
	background-position: -1008px -896px;
}
.icon-safari {
	background-position: -1120px -896px;
}
.icon-redo {
	background-position: -1232px -896px;
}
.icon-rate-half {
	background-position: -1344px -896px;
}
.icon-rate-full {
	background-position: -1456px -896px;
}
.icon-rate-empty {
	background-position: -1568px -896px;
}
.icon-profile {
	background-position: -1680px -896px;
}
.icon-printer {
	background-position: -1792px -896px;
}
.icon-pilcrow {
	background-position: -1904px -896px;
}
.icon-paste {
	background-position: -2016px -896px;
}
.icon-pacman {
	background-position: -2128px -896px;
}
.icon-opera {
	background-position: -2240px -896px;
}
.icon-new-tab {
	background-position: -2352px -896px;
}
.icon-moon2 {
	background-position: -2464px -896px;
}
.icon-lock {
	background-position: -2576px -896px;
}
.icon-link {
	background-position: -2688px -896px;
	width: 59px;
	height: 59px;
}
.icon-indent-increase {
	background-position: -2800px -896px;
}
.icon-indent-decrease {
	background-position: -2912px -896px;
}
.icon-images {
	background-position: -3024px -896px;
}
.icon-image2 {
	background-position: -3136px -896px;
}
.icon-IE {
	background-position: -3248px -896px;
}
.icon-google-plus {
	background-position: 0 -1008px;
}
.icon-github-sign-alt {
	background-position: -112px -1008px;
}
.icon-food2 {
	background-position: -224px -1008px;
}
.icon-font2 {
	background-position: -336px -1008px;
}
.icon-flickr2 {
	background-position: -448px -1008px;
}
.icon-flag {
	background-position: -560px -1008px;
}
.icon-firefox {
	background-position: -672px -1008px;
	width: 58px;
}
.icon-fire {
	background-position: -784px -1008px;
	width: 65px;
}
.icon-file-xml {
	background-position: -896px -1008px;
}
.icon-file-powerpoint {
	background-position: -1008px -1008px;
}
.icon-file-pdf {
	background-position: -1120px -1008px;
}
.icon-file-css {
	background-position: -1232px -1008px;
}
.icon-feed {
	background-position: -1344px -1008px;
}
.icon-facebook4 {
	background-position: -1456px -1008px;
}
.icon-expand2 {
	background-position: -1568px -1008px;
}
.icon-embed {
	background-position: -1680px -1008px;
}
.icon-droplet {
	background-position: -1792px -1008px;
}
.icon-dribbble2 {
	background-position: -1904px -1008px;
}
.icon-contract {
	background-position: -2016px -1008px;
}
.icon-console {
	background-position: -2128px -1008px;
}
.icon-cog2 {
	background-position: -2240px -1008px;
}
.icon-code {
	background-position: -2352px -1008px;
}
.icon-cloudy3 {
	background-position: -2464px -1008px;
}
.icon-cloud3 {
	background-position: -2576px -1008px;
}
.icon-cloud2 {
	background-position: -2688px -1008px;
}
.icon-cloud-upload {
	background-position: -2800px -1008px;
}
.icon-cloud-download {
	background-position: -2912px -1008px;
}
.icon-close {
	background-position: -3024px -1008px;
}
.icon-clipboard4 {
	background-position: -3136px -1008px;
}
.icon-chrome {
	background-position: -3248px -1008px;
}
.icon-checkmark3 {
	background-position: 0 -1120px;
}
.icon-camera3 {
	background-position: -112px -1120px;
}
.icon-calculate {
	background-position: -224px -1120px;
}
.icon-bubbles {
	background-position: -336px -1120px;
	width: 63px;
}
.icon-books {
	background-position: -448px -1120px;
}
.icon-bookmarks {
	background-position: -560px -1120px;
}
.icon-bookmark5 {
	background-position: -672px -1120px;
}
.icon-blocked {
	background-position: -784px -1120px;
}
.icon-binoculars {
	background-position: -896px -1120px;
}
.icon-atom {
	background-position: -1008px -1120px;
}
.icon-arrow-up4 {
	background-position: -1120px -1120px;
}
.icon-arrow-up-right {
	background-position: -1232px -1120px;
}
.icon-arrow-up-left {
	background-position: -1344px -1120px;
}
.icon-arrow-right6 {
	background-position: -1456px -1120px;
}
.icon-arrow-left5 {
	background-position: -1568px -1120px;
}
.icon-arrow-down6 {
	background-position: -1680px -1120px;
}
.icon-arrow-down-right {
	background-position: -1792px -1120px;
}
.icon-arrow-down-left {
	background-position: -1904px -1120px;
}
.icon-apple {
	background-position: -2016px -1120px;
}
.icon-android2 {
	background-position: -2128px -1120px;
}
.icon-alarm {
	background-position: -2240px -1120px;
}
.icon-aid {
	background-position: -2352px -1120px;
}
.icon-windy5 {
	background-position: -2464px -1120px;
}
.icon-windy4 {
	background-position: -2576px -1120px;
}
.icon-windy3 {
	background-position: -2688px -1120px;
}
.icon-windy2 {
	background-position: -2800px -1120px;
}
.icon-weather5 {
	background-position: -2912px -1120px;
}
.icon-weather4 {
	background-position: -3024px -1120px;
}
.icon-weather3 {
	background-position: -3136px -1120px;
}
.icon-weather2 {
	background-position: -3248px -1120px;
}
.icon-sun4 {
	background-position: 0 -1232px;
}
.icon-snowy5 {
	background-position: -112px -1232px;
}
.icon-snowy4 {
	background-position: -224px -1232px;
}
.icon-snowy3 {
	background-position: -336px -1232px;
}
.icon-snowy2 {
	background-position: -448px -1232px;
}
.icon-snowy {
	background-position: -560px -1232px;
}
.icon-rainy4 {
	background-position: -672px -1232px;
}
.icon-rainy3 {
	background-position: -784px -1232px;
}
.icon-rainy2 {
	background-position: -896px -1232px;
}
.icon-rainy {
	background-position: -1008px -1232px;
}
.icon-none {
	background-position: -1120px -1232px;
}
.icon-moon3 {
	background-position: -1232px -1232px;
}
.icon-lightning6 {
	background-position: -1344px -1232px;
}
.icon-lightning5 {
	background-position: -1456px -1232px;
}
.icon-lightning4 {
	background-position: -1568px -1232px;
}
.icon-lightning3 {
	background-position: -1680px -1232px;
}
.icon-lightning2 {
	background-position: -1792px -1232px;
}
.icon-Fahrenheit {
	background-position: -1904px -1232px;
}
.icon-compass4 {
	background-position: -2016px -1232px;
}
.icon-cloudy6 {
	background-position: -2128px -1232px;
}
.icon-cloudy5 {
	background-position: -2240px -1232px;
}
.icon-cloudy4 {
	background-position: -2352px -1232px;
}
.icon-cloud7 {
	background-position: -2464px -1232px;
}
.icon-cloud6 {
	background-position: -2576px -1232px;
}
.icon-cloud5 {
	background-position: -2688px -1232px;
}
.icon-cloud4 {
	background-position: -2800px -1232px;
}
.icon-Celsius {
	background-position: -2912px -1232px;
}
