.icon-pilcrow,.icon-tie,.icon-hydrant,.icon-greenlightbulb,.icon-dna,.icon-broom,.icon-speed,.icon-blackberry,.icon-stiletto,.icon-fishbone,.icon-teapot,.icon-microwave,.icon-bread,.icon-superman,.icon-spiderman,.icon-batman,.icon-ironman,.icon-darthvader,.icon-spaceinvaders,.icon-alienware,.icon-angrybirds,.icon-marvin,.icon-tooth,.icon-html5,.icon-css3,.icon-jqueryui,.icon-wordpress,.icon-drupal,.icon-github,.icon-insertpictureleft,.icon-insertpictureright,.icon-insertpicturecenter,.icon-checkin,.icon-coffee,.icon-martini,.icon-wine,.icon-automobile,.icon-road,.icon-glass,.icon-heart,.icon-star,.icon-star-empty,.icon-th-large,.icon-th,.icon-th-list,.icon-ok,.icon-remove,.icon-home,.icon-road2,.icon-tag,.icon-tags,.icon-bookmark,.icon-camera,.icon-font,.icon-bold,.icon-italic,.icon-align-left,.icon-align-center,.icon-align-right,.icon-align-justify,.icon-list,.icon-indent-left,.icon-indent-right,.icon-facetime-video,.icon-picture,.icon-pencil,.icon-move,.icon-resize-full,.icon-resize-small,.icon-plus,.icon-minus,.icon-eye-open,.icon-eye-close,.icon-comment,.icon-magnet,.icon-resize-vertical,.icon-resize-horizontal,.icon-comments,.icon-thumbs-up,.icon-thumbs-down,.icon-star-half,.icon-heart-empty,.icon-external-link,.icon-github-sign,.icon-bookmark-empty,.icon-twitter,.icon-facebook,.icon-github2,.icon-link,.icon-cut,.icon-copy,.icon-paper-clip,.icon-save,.icon-reorder,.icon-list-ul,.icon-list-ol,.icon-strikethrough,.icon-underline,.icon-caret-down,.icon-caret-up,.icon-caret-left,.icon-caret-right,.icon-columns,.icon-sort,.icon-sort-down,.icon-sort-up,.icon-envelope-alt,.icon-dashboard,.icon-sitemap,.icon-umbrella,.icon-suitcase,.icon-coffee2,.icon-food,.icon-building,.icon-hospital,.icon-ambulance,.icon-medkit,.icon-fighter-jet,.icon-desktop,.icon-laptop,.icon-tablet,.icon-mobile,.icon-reply,.icon-github-alt,.icon-phone,.icon-mobile2,.icon-mouse,.icon-directions,.icon-mail,.icon-paperplane,.icon-pencil2,.icon-paperclip,.icon-drawer,.icon-reply2,.icon-reply-all,.icon-forward,.icon-user,.icon-users,.icon-user-add,.icon-vcard,.icon-export,.icon-location,.icon-map,.icon-compass,.icon-location2,.icon-target,.icon-share,.icon-sharable,.icon-heart2,.icon-heart3,.icon-star2,.icon-star3,.icon-chat,.icon-comment2,.icon-quote,.icon-house,.icon-cog,.icon-tools,.icon-camera2,.icon-leaf,.icon-music,.icon-newspaper,.icon-airplane,.icon-lifebuoy,.icon-eye,.icon-clock,.icon-calendar,.icon-cd,.icon-briefcase,.icon-gauge,.icon-key,.icon-bucket,.icon-magnet2,.icon-drive,.icon-rocket,.icon-brush,.icon-suitcase2,.icon-cone,.icon-screen,.icon-light-bulb,.icon-database,.icon-clipboard,.icon-rss,.icon-icon310,.icon-pie,.icon-erase,.icon-info,.icon-info2,.icon-question,.icon-help,.icon-warning,.icon-list2,.icon-layout,.icon-list3,.icon-archive,.icon-disk,.icon-install,.icon-bookmark2,.icon-arrow-left,.icon-arrow-down,.icon-arrow-up--upload,.icon-arrow-right,.icon-arrow-left2,.icon-arrow-down2,.icon-arrow-up,.icon-arrow-right2,.icon-arrow-left3,.icon-arrow-down3,.icon-arrow-up2,.icon-arrow-right3,.icon-arrow-down4,.icon-arrow-right4,.icon-arrow-left4,.icon-arrow-down5,.icon-arrow-up3,.icon-arrow-right5,.icon-ellipsis,.icon-dots,.icon-dot,.icon-cc,.icon-cc-by,.icon-cc-nc,.icon-cc-nc-eu,.icon-cc-nc-jp,.icon-cc-sa,.icon-cc-nd,.icon-cc-pd,.icon-cc-zero,.icon-cc-share,.icon-cc-share2,.icon-daniel-bruce,.icon-github3,.icon-flickr,.icon-twitter2,.icon-facebook2,.icon-facebook3,.icon-googleplus,.icon-pinterest,.icon-pinterest2,.icon-dribbble,.icon-link2,.icon-cabinet,.icon-cabinet2,.icon-calendar2,.icon-phone2,.icon-tablet2,.icon-window,.icon-monitor,.icon-microphone,.icon-drink,.icon-drink2,.icon-drink3,.icon-coffee3,.icon-mug,.icon-ice-cream,.icon-checkmark,.icon-cancel,.icon-plus2,.icon-minus2,.icon-notice,.icon-warning2,.icon-health,.icon-suitcase3,.icon-suitcase4,.icon-picture2,.icon-pictures,.icon-android,.icon-pacman,.icon-cassette,.icon-headphones,.icon-checkmark2,.icon-cancel2,.icon-eye2,.icon-site-map,.icon-site-map2,.icon-cloud,.icon-upload,.icon-chart,.icon-chart2,.icon-location3,.icon-download,.icon-basket,.icon-phone3,.icon-image,.icon-open,.icon-direction,.icon-vote,.icon-graduate,.icon-lab,.icon-tie2,.icon-eight-ball,.icon-soccer,.icon-3d-glasses,.icon-microwave2,.icon-refrigerator,.icon-washing-machine,.icon-cord,.icon-stack,.icon-transformers,.icon-space-invaders,.icon-lamp,.icon-umbrella2,.icon-bomb,.icon-archive2,.icon-thermometer,.icon-lamp2,.icon-lamp3,.icon-cube,.icon-grid,.icon-grid2,.icon-list4,.icon-list5,.icon-ruler,.icon-ruler2,.icon-layout2,.icon-layout3,.icon-layout4,.icon-layout5,.icon-layout6,.icon-layout7,.icon-layout8,.icon-layout9,.icon-layout10,.icon-layout11,.icon-layout12,.icon-layout13,.icon-layout14,.icon-layout15,.icon-tools2,.icon-brush2,.icon-chat2,.icon-comments2,.icon-equalizer,.icon-resize,.icon-library,.icon-auction,.icon-justice,.icon-stats,.icon-attachment,.icon-pencil3,.icon-scissors,.icon-reply3,.icon-forward2,.icon-crop,.icon-pig,.icon-bookmark3,.icon-bookmark4,.icon-address-book,.icon-safe,.icon-envelope,.icon-music2,.icon-presentation,.icon-aids,.icon-heart4,.icon-info3,.icon-info4,.icon-rain,.icon-snow,.icon-lightning,.icon-sun,.icon-moon,.icon-cloudy,.icon-cloudy2,.icon-paper-plane,.icon-rocket2,.icon-expand,.icon-badge,.icon-ticket,.icon-ticket2,.icon-ticket3,.icon-cone2,.icon-blocked,.icon-stop,.icon-printer,.icon-atom,.icon-compass2,.icon-zip,.icon-heart5,.icon-heart6,.icon-clipboard2,.icon-clipboard3,.icon-clipboard4,.icon-switch,.icon-home2,.icon-office,.icon-newspaper2,.icon-pencil4,.icon-droplet,.icon-paint-format,.icon-image2,.icon-images,.icon-camera3,.icon-headphones2,.icon-play,.icon-pacman2,.icon-books,.icon-library2,.icon-profile,.icon-paste,.icon-paste2,.icon-tag2,.icon-ticket4,.icon-calculate,.icon-support,.icon-phone4,.icon-location4,.icon-location5,.icon-compass3,.icon-alarm,.icon-screen2,.icon-laptop2,.icon-mobile3,.icon-tablet3,.icon-tv,.icon-drawer2,.icon-undo,.icon-redo,.icon-bubbles,.icon-user2,.icon-users2,.icon-quotes-left,.icon-spinner,.icon-binoculars,.icon-search,.icon-zoom-in,.icon-zoom-out,.icon-expand2,.icon-contract,.icon-lock,.icon-settings,.icon-equalizer2,.icon-cog2,.icon-aid,.icon-pie2,.icon-glass2,.icon-mug2,.icon-food2,.icon-leaf2,.icon-rocket3,.icon-dashboard2,.icon-fire,.icon-airplane2,.icon-truck,.icon-road3,.icon-power-cord,.icon-signup,.icon-list6,.icon-list7,.icon-numbered-list,.icon-menu,.icon-tree,.icon-cloud2,.icon-cloud-download,.icon-cloud-upload,.icon-link3,.icon-flag,.icon-attachment2,.icon-eye3,.icon-eye-blocked,.icon-bookmark5,.icon-bookmarks,.icon-star4,.icon-star5,.icon-star6,.icon-heart7,.icon-heart8,.icon-close,.icon-checkmark3,.icon-minus3,.icon-plus3,.icon-arrow-up-left,.icon-arrow-up4,.icon-arrow-up-right,.icon-arrow-right6,.icon-arrow-down-right,.icon-arrow-down6,.icon-arrow-down-left,.icon-arrow-left5,.icon-font2,.icon-bold2,.icon-underline2,.icon-italic2,.icon-table,.icon-pilcrow2,.icon-paragraph-left,.icon-paragraph-center,.icon-paragraph-right,.icon-paragraph-justify,.icon-indent-increase,.icon-indent-decrease,.icon-new-tab,.icon-embed,.icon-code,.icon-console,.icon-share2,.icon-google-plus,.icon-facebook4,.icon-twitter3,.icon-feed,.icon-flickr2,.icon-dribbble2,.icon-github4,.icon-github5,.icon-github6,.icon-apple,.icon-android2,.icon-soundcloud,.icon-file-pdf,.icon-file-powerpoint,.icon-file-xml,.icon-file-css,.icon-html52,.icon-css32,.icon-chrome,.icon-firefox,.icon-IE,.icon-opera,.icon-safari,.icon-sunrise,.icon-sun2,.icon-moon2,.icon-sun3,.icon-windy,.icon-wind,.icon-snowflake,.icon-cloudy3,.icon-cloud3,.icon-weather,.icon-weather2,.icon-weather3,.icon-lines,.icon-cloud4,.icon-lightning2,.icon-lightning3,.icon-rainy,.icon-rainy2,.icon-windy2,.icon-windy3,.icon-snowy,.icon-snowy2,.icon-snowy3,.icon-weather4,.icon-cloudy4,.icon-cloud5,.icon-lightning4,.icon-sun4,.icon-moon3,.icon-cloudy5,.icon-cloud6,.icon-cloud7,.icon-lightning5,.icon-rainy3,.icon-rainy4,.icon-windy4,.icon-windy5,.icon-snowy4,.icon-snowy5,.icon-weather5,.icon-cloudy6,.icon-lightning6,.icon-thermometer2,.icon-compass4,.icon-none,.icon-Celsius,.icon-Fahrenheit {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-pilcrow {
	background-position: 0 0;
}
.icon-tie {
	background-position: -64px 0;
}
.icon-hydrant {
	background-position: -128px 0;
}
.icon-greenlightbulb {
	background-position: -192px 0;
}
.icon-dna {
	background-position: -256px 0;
}
.icon-broom {
	background-position: -320px 0;
}
.icon-speed {
	background-position: -384px 0;
}
.icon-blackberry {
	background-position: -448px 0;
}
.icon-stiletto {
	background-position: -512px 0;
}
.icon-fishbone {
	background-position: -576px 0;
}
.icon-teapot {
	background-position: -640px 0;
}
.icon-microwave {
	background-position: -704px 0;
}
.icon-bread {
	background-position: -768px 0;
}
.icon-superman {
	background-position: -832px 0;
}
.icon-spiderman {
	background-position: -896px 0;
}
.icon-batman {
	background-position: -960px 0;
}
.icon-ironman {
	background-position: -1024px 0;
}
.icon-darthvader {
	background-position: -1088px 0;
}
.icon-spaceinvaders {
	background-position: -1152px 0;
}
.icon-alienware {
	background-position: -1216px 0;
}
.icon-angrybirds {
	background-position: -1280px 0;
}
.icon-marvin {
	background-position: -1344px 0;
}
.icon-tooth {
	background-position: -1408px 0;
}
.icon-html5 {
	background-position: -1472px 0;
}
.icon-css3 {
	background-position: -1536px 0;
}
.icon-jqueryui {
	background-position: -1600px 0;
}
.icon-wordpress {
	background-position: -1664px 0;
}
.icon-drupal {
	background-position: -1728px 0;
}
.icon-github {
	background-position: -1792px 0;
}
.icon-insertpictureleft {
	background-position: -1856px 0;
}
.icon-insertpictureright {
	background-position: -1920px 0;
}
.icon-insertpicturecenter {
	background-position: -1984px 0;
}
.icon-checkin {
	background-position: 0 -64px;
}
.icon-coffee {
	background-position: -64px -64px;
}
.icon-martini {
	background-position: -128px -64px;
}
.icon-wine {
	background-position: -192px -64px;
}
.icon-automobile {
	background-position: -256px -64px;
}
.icon-road {
	background-position: -320px -64px;
}
.icon-glass {
	background-position: -384px -64px;
}
.icon-heart {
	background-position: -448px -64px;
}
.icon-star {
	background-position: -512px -64px;
}
.icon-star-empty {
	background-position: -576px -64px;
}
.icon-th-large {
	background-position: -640px -64px;
}
.icon-th {
	background-position: -704px -64px;
}
.icon-th-list {
	background-position: -768px -64px;
}
.icon-ok {
	background-position: -832px -64px;
}
.icon-remove {
	background-position: -896px -64px;
}
.icon-home {
	background-position: -960px -64px;
}
.icon-road2 {
	background-position: -1024px -64px;
	width: 33px;
}
.icon-tag {
	background-position: -1088px -64px;
}
.icon-tags {
	background-position: -1152px -64px;
	width: 34px;
}
.icon-bookmark {
	background-position: -1216px -64px;
}
.icon-camera {
	background-position: -1280px -64px;
	width: 34px;
}
.icon-font {
	background-position: -1344px -64px;
}
.icon-bold {
	background-position: -1408px -64px;
}
.icon-italic {
	background-position: -1472px -64px;
}
.icon-align-left {
	background-position: -1536px -64px;
}
.icon-align-center {
	background-position: -1600px -64px;
}
.icon-align-right {
	background-position: -1664px -64px;
}
.icon-align-justify {
	background-position: -1728px -64px;
}
.icon-list {
	background-position: -1792px -64px;
}
.icon-indent-left {
	background-position: -1856px -64px;
}
.icon-indent-right {
	background-position: -1920px -64px;
}
.icon-facetime-video {
	background-position: -1984px -64px;
	width: 34px;
}
.icon-picture {
	background-position: 0 -128px;
	width: 34px;
}
.icon-pencil {
	background-position: -64px -128px;
}
.icon-move {
	background-position: -128px -128px;
}
.icon-resize-full {
	background-position: -192px -128px;
}
.icon-resize-small {
	background-position: -256px -128px;
}
.icon-plus {
	background-position: -320px -128px;
}
.icon-minus {
	background-position: -384px -128px;
}
.icon-eye-open {
	background-position: -448px -128px;
}
.icon-eye-close {
	background-position: -512px -128px;
}
.icon-comment {
	background-position: -576px -128px;
}
.icon-magnet {
	background-position: -640px -128px;
}
.icon-resize-vertical {
	background-position: -704px -128px;
}
.icon-resize-horizontal {
	background-position: -768px -128px;
}
.icon-comments {
	background-position: -832px -128px;
}
.icon-thumbs-up {
	background-position: -896px -128px;
}
.icon-thumbs-down {
	background-position: -960px -128px;
}
.icon-star-half {
	background-position: -1024px -128px;
}
.icon-heart-empty {
	background-position: -1088px -128px;
}
.icon-external-link {
	background-position: -1152px -128px;
}
.icon-github-sign {
	background-position: -1216px -128px;
}
.icon-bookmark-empty {
	background-position: -1280px -128px;
}
.icon-twitter {
	background-position: -1344px -128px;
	width: 33px;
}
.icon-facebook {
	background-position: -1408px -128px;
}
.icon-github2 {
	background-position: -1472px -128px;
}
.icon-link {
	background-position: -1536px -128px;
}
.icon-cut {
	background-position: -1600px -128px;
}
.icon-copy {
	background-position: -1664px -128px;
}
.icon-paper-clip {
	background-position: -1728px -128px;
}
.icon-save {
	background-position: -1792px -128px;
}
.icon-reorder {
	background-position: -1856px -128px;
}
.icon-list-ul {
	background-position: -1920px -128px;
}
.icon-list-ol {
	background-position: -1984px -128px;
}
.icon-strikethrough {
	background-position: 0 -192px;
}
.icon-underline {
	background-position: -64px -192px;
}
.icon-caret-down {
	background-position: -128px -192px;
}
.icon-caret-up {
	background-position: -192px -192px;
}
.icon-caret-left {
	background-position: -256px -192px;
}
.icon-caret-right {
	background-position: -320px -192px;
}
.icon-columns {
	background-position: -384px -192px;
}
.icon-sort {
	background-position: -448px -192px;
}
.icon-sort-down {
	background-position: -512px -192px;
}
.icon-sort-up {
	background-position: -576px -192px;
}
.icon-envelope-alt {
	background-position: -640px -192px;
}
.icon-dashboard {
	background-position: -704px -192px;
}
.icon-sitemap {
	background-position: -768px -192px;
}
.icon-umbrella {
	background-position: -832px -192px;
}
.icon-suitcase {
	background-position: -896px -192px;
}
.icon-coffee2 {
	background-position: -960px -192px;
	width: 33px;
}
.icon-food {
	background-position: -1024px -192px;
}
.icon-building {
	background-position: -1088px -192px;
}
.icon-hospital {
	background-position: -1152px -192px;
}
.icon-ambulance {
	background-position: -1216px -192px;
	width: 33px;
}
.icon-medkit {
	background-position: -1280px -192px;
}
.icon-fighter-jet {
	background-position: -1344px -192px;
	width: 34px;
}
.icon-desktop {
	background-position: -1408px -192px;
	width: 34px;
}
.icon-laptop {
	background-position: -1472px -192px;
	width: 34px;
}
.icon-tablet {
	background-position: -1536px -192px;
}
.icon-mobile {
	background-position: -1600px -192px;
}
.icon-reply {
	background-position: -1664px -192px;
}
.icon-github-alt {
	background-position: -1728px -192px;
}
.icon-phone {
	background-position: -1792px -192px;
}
.icon-mobile2 {
	background-position: -1856px -192px;
}
.icon-mouse {
	background-position: -1920px -192px;
	height: 19px;
}
.icon-directions {
	background-position: -1984px -192px;
}
.icon-mail {
	background-position: 0 -256px;
}
.icon-paperplane {
	background-position: -64px -256px;
}
.icon-pencil2 {
	background-position: -128px -256px;
}
.icon-paperclip {
	background-position: -192px -256px;
}
.icon-drawer {
	background-position: -256px -256px;
}
.icon-reply2 {
	background-position: -320px -256px;
}
.icon-reply-all {
	background-position: -384px -256px;
}
.icon-forward {
	background-position: -448px -256px;
}
.icon-user {
	background-position: -512px -256px;
}
.icon-users {
	background-position: -576px -256px;
}
.icon-user-add {
	background-position: -640px -256px;
}
.icon-vcard {
	background-position: -704px -256px;
}
.icon-export {
	background-position: -768px -256px;
}
.icon-location {
	background-position: -832px -256px;
}
.icon-map {
	background-position: -896px -256px;
}
.icon-compass {
	background-position: -960px -256px;
}
.icon-location2 {
	background-position: -1024px -256px;
	width: 33px;
	height: 33px;
}
.icon-target {
	background-position: -1088px -256px;
}
.icon-share {
	background-position: -1152px -256px;
}
.icon-sharable {
	background-position: -1216px -256px;
}
.icon-heart2 {
	background-position: -1280px -256px;
}
.icon-heart3 {
	background-position: -1344px -256px;
}
.icon-star2 {
	background-position: -1408px -256px;
}
.icon-star3 {
	background-position: -1472px -256px;
}
.icon-chat {
	background-position: -1536px -256px;
}
.icon-comment2 {
	background-position: -1600px -256px;
}
.icon-quote {
	background-position: -1664px -256px;
}
.icon-house {
	background-position: -1728px -256px;
}
.icon-cog {
	background-position: -1792px -256px;
}
.icon-tools {
	background-position: -1856px -256px;
}
.icon-camera2 {
	background-position: -1920px -256px;
}
.icon-leaf {
	background-position: -1984px -256px;
}
.icon-music {
	background-position: 0 -320px;
}
.icon-newspaper {
	background-position: -64px -320px;
}
.icon-airplane {
	background-position: -128px -320px;
}
.icon-lifebuoy {
	background-position: -192px -320px;
}
.icon-eye {
	background-position: -256px -320px;
}
.icon-clock {
	background-position: -320px -320px;
}
.icon-calendar {
	background-position: -384px -320px;
}
.icon-cd {
	background-position: -448px -320px;
}
.icon-briefcase {
	background-position: -512px -320px;
}
.icon-gauge {
	background-position: -576px -320px;
}
.icon-key {
	background-position: -640px -320px;
}
.icon-bucket {
	background-position: -704px -320px;
}
.icon-magnet2 {
	background-position: -768px -320px;
}
.icon-drive {
	background-position: -832px -320px;
}
.icon-rocket {
	background-position: -896px -320px;
}
.icon-brush {
	background-position: -960px -320px;
	width: 33px;
}
.icon-suitcase2 {
	background-position: -1024px -320px;
}
.icon-cone {
	background-position: -1088px -320px;
}
.icon-screen {
	background-position: -1152px -320px;
}
.icon-light-bulb {
	background-position: -1216px -320px;
}
.icon-database {
	background-position: -1280px -320px;
}
.icon-clipboard {
	background-position: -1344px -320px;
}
.icon-rss {
	background-position: -1408px -320px;
}
.icon-icon310 {
	background-position: -1472px -320px;
}
.icon-pie {
	background-position: -1536px -320px;
}
.icon-erase {
	background-position: -1600px -320px;
}
.icon-info {
	background-position: -1664px -320px;
}
.icon-info2 {
	background-position: -1728px -320px;
}
.icon-question {
	background-position: -1792px -320px;
}
.icon-help {
	background-position: -1856px -320px;
}
.icon-warning {
	background-position: -1920px -320px;
}
.icon-list2 {
	background-position: -1984px -320px;
}
.icon-layout {
	background-position: 0 -384px;
}
.icon-list3 {
	background-position: -64px -384px;
}
.icon-archive {
	background-position: -128px -384px;
}
.icon-disk {
	background-position: -192px -384px;
}
.icon-install {
	background-position: -256px -384px;
}
.icon-bookmark2 {
	background-position: -320px -384px;
}
.icon-arrow-left {
	background-position: -384px -384px;
}
.icon-arrow-down {
	background-position: -448px -384px;
}
.icon-arrow-up--upload {
	background-position: -512px -384px;
}
.icon-arrow-right {
	background-position: -576px -384px;
}
.icon-arrow-left2 {
	background-position: -640px -384px;
}
.icon-arrow-down2 {
	background-position: -704px -384px;
}
.icon-arrow-up {
	background-position: -768px -384px;
}
.icon-arrow-right2 {
	background-position: -832px -384px;
}
.icon-arrow-left3 {
	background-position: -896px -384px;
}
.icon-arrow-down3 {
	background-position: -960px -384px;
}
.icon-arrow-up2 {
	background-position: -1024px -384px;
}
.icon-arrow-right3 {
	background-position: -1088px -384px;
}
.icon-arrow-down4 {
	background-position: -1152px -384px;
}
.icon-arrow-right4 {
	background-position: -1216px -384px;
}
.icon-arrow-left4 {
	background-position: -1280px -384px;
}
.icon-arrow-down5 {
	background-position: -1344px -384px;
}
.icon-arrow-up3 {
	background-position: -1408px -384px;
}
.icon-arrow-right5 {
	background-position: -1472px -384px;
}
.icon-ellipsis {
	background-position: -1536px -384px;
}
.icon-dots {
	background-position: -1600px -384px;
}
.icon-dot {
	background-position: -1664px -384px;
}
.icon-cc {
	background-position: -1728px -384px;
}
.icon-cc-by {
	background-position: -1792px -384px;
}
.icon-cc-nc {
	background-position: -1856px -384px;
}
.icon-cc-nc-eu {
	background-position: -1920px -384px;
}
.icon-cc-nc-jp {
	background-position: -1984px -384px;
}
.icon-cc-sa {
	background-position: 0 -448px;
}
.icon-cc-nd {
	background-position: -64px -448px;
}
.icon-cc-pd {
	background-position: -128px -448px;
}
.icon-cc-zero {
	background-position: -192px -448px;
}
.icon-cc-share {
	background-position: -256px -448px;
}
.icon-cc-share2 {
	background-position: -320px -448px;
}
.icon-daniel-bruce {
	background-position: -384px -448px;
}
.icon-github3 {
	background-position: -448px -448px;
}
.icon-flickr {
	background-position: -512px -448px;
}
.icon-twitter2 {
	background-position: -576px -448px;
}
.icon-facebook2 {
	background-position: -640px -448px;
}
.icon-facebook3 {
	background-position: -704px -448px;
}
.icon-googleplus {
	background-position: -768px -448px;
}
.icon-pinterest {
	background-position: -832px -448px;
	height: 26px;
}
.icon-pinterest2 {
	background-position: -896px -448px;
}
.icon-dribbble {
	background-position: -960px -448px;
}
.icon-link2 {
	background-position: -1024px -448px;
}
.icon-cabinet {
	background-position: -1088px -448px;
}
.icon-cabinet2 {
	background-position: -1152px -448px;
}
.icon-calendar2 {
	background-position: -1216px -448px;
}
.icon-phone2 {
	background-position: -1280px -448px;
}
.icon-tablet2 {
	background-position: -1344px -448px;
}
.icon-window {
	background-position: -1408px -448px;
}
.icon-monitor {
	background-position: -1472px -448px;
}
.icon-microphone {
	background-position: -1536px -448px;
}
.icon-drink {
	background-position: -1600px -448px;
}
.icon-drink2 {
	background-position: -1664px -448px;
}
.icon-drink3 {
	background-position: -1728px -448px;
}
.icon-coffee3 {
	background-position: -1792px -448px;
}
.icon-mug {
	background-position: -1856px -448px;
}
.icon-ice-cream {
	background-position: -1920px -448px;
}
.icon-checkmark {
	background-position: -1984px -448px;
}
.icon-cancel {
	background-position: 0 -512px;
}
.icon-plus2 {
	background-position: -64px -512px;
}
.icon-minus2 {
	background-position: -128px -512px;
}
.icon-notice {
	background-position: -192px -512px;
}
.icon-warning2 {
	background-position: -256px -512px;
}
.icon-health {
	background-position: -320px -512px;
}
.icon-suitcase3 {
	background-position: -384px -512px;
}
.icon-suitcase4 {
	background-position: -448px -512px;
}
.icon-picture2 {
	background-position: -512px -512px;
}
.icon-pictures {
	background-position: -576px -512px;
}
.icon-android {
	background-position: -640px -512px;
}
.icon-pacman {
	background-position: -704px -512px;
}
.icon-cassette {
	background-position: -768px -512px;
}
.icon-headphones {
	background-position: -832px -512px;
}
.icon-checkmark2 {
	background-position: -896px -512px;
}
.icon-cancel2 {
	background-position: -960px -512px;
}
.icon-eye2 {
	background-position: -1024px -512px;
	width: 35px;
}
.icon-site-map {
	background-position: -1088px -512px;
}
.icon-site-map2 {
	background-position: -1152px -512px;
}
.icon-cloud {
	background-position: -1216px -512px;
	width: 35px;
}
.icon-upload {
	background-position: -1280px -512px;
	width: 35px;
}
.icon-chart {
	background-position: -1344px -512px;
}
.icon-chart2 {
	background-position: -1408px -512px;
}
.icon-location3 {
	background-position: -1472px -512px;
}
.icon-download {
	background-position: -1536px -512px;
	width: 35px;
}
.icon-basket {
	background-position: -1600px -512px;
}
.icon-phone3 {
	background-position: -1664px -512px;
}
.icon-image {
	background-position: -1728px -512px;
}
.icon-open {
	background-position: -1792px -512px;
}
.icon-direction {
	background-position: -1856px -512px;
}
.icon-vote {
	background-position: -1920px -512px;
}
.icon-graduate {
	background-position: -1984px -512px;
	width: 42px;
}
.icon-lab {
	background-position: 0 -576px;
	height: 23px;
}
.icon-tie2 {
	background-position: -64px -576px;
}
.icon-eight-ball {
	background-position: -128px -576px;
}
.icon-soccer {
	background-position: -192px -576px;
}
.icon-3d-glasses {
	background-position: -256px -576px;
	width: 45px;
}
.icon-microwave2 {
	background-position: -320px -576px;
	width: 36px;
}
.icon-refrigerator {
	background-position: -384px -576px;
}
.icon-washing-machine {
	background-position: -448px -576px;
}
.icon-cord {
	background-position: -512px -576px;
}
.icon-stack {
	background-position: -576px -576px;
}
.icon-transformers {
	background-position: -640px -576px;
}
.icon-space-invaders {
	background-position: -704px -576px;
	width: 33px;
}
.icon-lamp {
	background-position: -768px -576px;
}
.icon-umbrella2 {
	background-position: -832px -576px;
}
.icon-bomb {
	background-position: -896px -576px;
	width: 37px;
}
.icon-archive2 {
	background-position: -960px -576px;
}
.icon-thermometer {
	background-position: -1024px -576px;
}
.icon-lamp2 {
	background-position: -1088px -576px;
}
.icon-lamp3 {
	background-position: -1152px -576px;
}
.icon-cube {
	background-position: -1216px -576px;
}
.icon-grid {
	background-position: -1280px -576px;
}
.icon-grid2 {
	background-position: -1344px -576px;
}
.icon-list4 {
	background-position: -1408px -576px;
}
.icon-list5 {
	background-position: -1472px -576px;
}
.icon-ruler {
	background-position: -1536px -576px;
	width: 42px;
}
.icon-ruler2 {
	background-position: -1600px -576px;
}
.icon-layout2 {
	background-position: -1664px -576px;
}
.icon-layout3 {
	background-position: -1728px -576px;
}
.icon-layout4 {
	background-position: -1792px -576px;
}
.icon-layout5 {
	background-position: -1856px -576px;
}
.icon-layout6 {
	background-position: -1920px -576px;
}
.icon-layout7 {
	background-position: -1984px -576px;
}
.icon-layout8 {
	background-position: 0 -640px;
}
.icon-layout9 {
	background-position: -64px -640px;
}
.icon-layout10 {
	background-position: -128px -640px;
}
.icon-layout11 {
	background-position: -192px -640px;
}
.icon-layout12 {
	background-position: -256px -640px;
}
.icon-layout13 {
	background-position: -320px -640px;
}
.icon-layout14 {
	background-position: -384px -640px;
}
.icon-layout15 {
	background-position: -448px -640px;
}
.icon-tools2 {
	background-position: -512px -640px;
}
.icon-brush2 {
	background-position: -576px -640px;
}
.icon-chat2 {
	background-position: -640px -640px;
}
.icon-comments2 {
	background-position: -704px -640px;
	width: 34px;
}
.icon-equalizer {
	background-position: -768px -640px;
}
.icon-resize {
	background-position: -832px -640px;
}
.icon-library {
	background-position: -896px -640px;
}
.icon-auction {
	background-position: -960px -640px;
}
.icon-justice {
	background-position: -1024px -640px;
}
.icon-stats {
	background-position: -1088px -640px;
}
.icon-attachment {
	background-position: -1152px -640px;
	width: 33px;
}
.icon-pencil3 {
	background-position: -1216px -640px;
}
.icon-scissors {
	background-position: -1280px -640px;
}
.icon-reply3 {
	background-position: -1344px -640px;
}
.icon-forward2 {
	background-position: -1408px -640px;
}
.icon-crop {
	background-position: -1472px -640px;
}
.icon-pig {
	background-position: -1536px -640px;
}
.icon-bookmark3 {
	background-position: -1600px -640px;
}
.icon-bookmark4 {
	background-position: -1664px -640px;
}
.icon-address-book {
	background-position: -1728px -640px;
}
.icon-safe {
	background-position: -1792px -640px;
}
.icon-envelope {
	background-position: -1856px -640px;
}
.icon-music2 {
	background-position: -1920px -640px;
}
.icon-presentation {
	background-position: -1984px -640px;
}
.icon-aids {
	background-position: 0 -704px;
}
.icon-heart4 {
	background-position: -64px -704px;
}
.icon-info3 {
	background-position: -128px -704px;
}
.icon-info4 {
	background-position: -192px -704px;
}
.icon-rain {
	background-position: -256px -704px;
}
.icon-snow {
	background-position: -320px -704px;
}
.icon-lightning {
	background-position: -384px -704px;
}
.icon-sun {
	background-position: -448px -704px;
}
.icon-moon {
	background-position: -512px -704px;
}
.icon-cloudy {
	background-position: -576px -704px;
	width: 38px;
}
.icon-cloudy2 {
	background-position: -640px -704px;
	width: 35px;
}
.icon-paper-plane {
	background-position: -704px -704px;
}
.icon-rocket2 {
	background-position: -768px -704px;
	height: 24px;
}
.icon-expand {
	background-position: -832px -704px;
}
.icon-badge {
	background-position: -896px -704px;
}
.icon-ticket {
	background-position: -960px -704px;
	width: 40px;
}
.icon-ticket2 {
	background-position: -1024px -704px;
	width: 40px;
}
.icon-ticket3 {
	background-position: -1088px -704px;
	width: 39px;
}
.icon-cone2 {
	background-position: -1152px -704px;
}
.icon-blocked {
	background-position: -1216px -704px;
}
.icon-stop {
	background-position: -1280px -704px;
}
.icon-printer {
	background-position: -1344px -704px;
}
.icon-atom {
	background-position: -1408px -704px;
}
.icon-compass2 {
	background-position: -1472px -704px;
}
.icon-zip {
	background-position: -1536px -704px;
}
.icon-heart5 {
	background-position: -1600px -704px;
}
.icon-heart6 {
	background-position: -1664px -704px;
}
.icon-clipboard2 {
	background-position: -1728px -704px;
}
.icon-clipboard3 {
	background-position: -1792px -704px;
}
.icon-clipboard4 {
	background-position: -1856px -704px;
}
.icon-switch {
	background-position: -1920px -704px;
}
.icon-home2 {
	background-position: -1984px -704px;
}
.icon-office {
	background-position: 0 -768px;
}
.icon-newspaper2 {
	background-position: -64px -768px;
}
.icon-pencil4 {
	background-position: -128px -768px;
}
.icon-droplet {
	background-position: -192px -768px;
}
.icon-paint-format {
	background-position: -256px -768px;
}
.icon-image2 {
	background-position: -320px -768px;
}
.icon-images {
	background-position: -384px -768px;
}
.icon-camera3 {
	background-position: -448px -768px;
}
.icon-headphones2 {
	background-position: -512px -768px;
}
.icon-play {
	background-position: -576px -768px;
}
.icon-pacman2 {
	background-position: -640px -768px;
}
.icon-books {
	background-position: -704px -768px;
}
.icon-library2 {
	background-position: -768px -768px;
}
.icon-profile {
	background-position: -832px -768px;
}
.icon-paste {
	background-position: -896px -768px;
}
.icon-paste2 {
	background-position: -960px -768px;
}
.icon-tag2 {
	background-position: -1024px -768px;
}
.icon-ticket4 {
	background-position: -1088px -768px;
}
.icon-calculate {
	background-position: -1152px -768px;
}
.icon-support {
	background-position: -1216px -768px;
}
.icon-phone4 {
	background-position: -1280px -768px;
}
.icon-location4 {
	background-position: -1344px -768px;
}
.icon-location5 {
	background-position: -1408px -768px;
}
.icon-compass3 {
	background-position: -1472px -768px;
}
.icon-alarm {
	background-position: -1536px -768px;
}
.icon-screen2 {
	background-position: -1600px -768px;
}
.icon-laptop2 {
	background-position: -1664px -768px;
}
.icon-mobile3 {
	background-position: -1728px -768px;
}
.icon-tablet3 {
	background-position: -1792px -768px;
}
.icon-tv {
	background-position: -1856px -768px;
}
.icon-drawer2 {
	background-position: -1920px -768px;
}
.icon-undo {
	background-position: -1984px -768px;
}
.icon-redo {
	background-position: 0 -832px;
}
.icon-bubbles {
	background-position: -64px -832px;
	width: 36px;
}
.icon-user2 {
	background-position: -128px -832px;
}
.icon-users2 {
	background-position: -192px -832px;
}
.icon-quotes-left {
	background-position: -256px -832px;
}
.icon-spinner {
	background-position: -320px -832px;
}
.icon-binoculars {
	background-position: -384px -832px;
}
.icon-search {
	background-position: -448px -832px;
}
.icon-zoom-in {
	background-position: -512px -832px;
}
.icon-zoom-out {
	background-position: -576px -832px;
}
.icon-expand2 {
	background-position: -640px -832px;
}
.icon-contract {
	background-position: -704px -832px;
}
.icon-lock {
	background-position: -768px -832px;
}
.icon-settings {
	background-position: -832px -832px;
}
.icon-equalizer2 {
	background-position: -896px -832px;
}
.icon-cog2 {
	background-position: -960px -832px;
}
.icon-aid {
	background-position: -1024px -832px;
}
.icon-pie2 {
	background-position: -1088px -832px;
}
.icon-glass2 {
	background-position: -1152px -832px;
}
.icon-mug2 {
	background-position: -1216px -832px;
}
.icon-food2 {
	background-position: -1280px -832px;
}
.icon-leaf2 {
	background-position: -1344px -832px;
	height: 29px;
}
.icon-rocket3 {
	background-position: -1408px -832px;
}
.icon-dashboard2 {
	background-position: -1472px -832px;
}
.icon-fire {
	background-position: -1536px -832px;
	width: 37px;
}
.icon-airplane2 {
	background-position: -1600px -832px;
}
.icon-truck {
	background-position: -1664px -832px;
}
.icon-road3 {
	background-position: -1728px -832px;
}
.icon-power-cord {
	background-position: -1792px -832px;
}
.icon-signup {
	background-position: -1856px -832px;
}
.icon-list6 {
	background-position: -1920px -832px;
}
.icon-list7 {
	background-position: -1984px -832px;
}
.icon-numbered-list {
	background-position: 0 -896px;
}
.icon-menu {
	background-position: -64px -896px;
}
.icon-tree {
	background-position: -128px -896px;
}
.icon-cloud2 {
	background-position: -192px -896px;
}
.icon-cloud-download {
	background-position: -256px -896px;
}
.icon-cloud-upload {
	background-position: -320px -896px;
}
.icon-link3 {
	background-position: -384px -896px;
	width: 33px;
	height: 33px;
}
.icon-flag {
	background-position: -448px -896px;
}
.icon-attachment2 {
	background-position: -512px -896px;
	height: 30px;
}
.icon-eye3 {
	background-position: -576px -896px;
}
.icon-eye-blocked {
	background-position: -640px -896px;
}
.icon-bookmark5 {
	background-position: -704px -896px;
}
.icon-bookmarks {
	background-position: -768px -896px;
}
.icon-star4 {
	background-position: -832px -896px;
}
.icon-star5 {
	background-position: -896px -896px;
}
.icon-star6 {
	background-position: -960px -896px;
}
.icon-heart7 {
	background-position: -1024px -896px;
}
.icon-heart8 {
	background-position: -1088px -896px;
}
.icon-close {
	background-position: -1152px -896px;
}
.icon-checkmark3 {
	background-position: -1216px -896px;
}
.icon-minus3 {
	background-position: -1280px -896px;
}
.icon-plus3 {
	background-position: -1344px -896px;
}
.icon-arrow-up-left {
	background-position: -1408px -896px;
}
.icon-arrow-up4 {
	background-position: -1472px -896px;
}
.icon-arrow-up-right {
	background-position: -1536px -896px;
}
.icon-arrow-right6 {
	background-position: -1600px -896px;
}
.icon-arrow-down-right {
	background-position: -1664px -896px;
}
.icon-arrow-down6 {
	background-position: -1728px -896px;
}
.icon-arrow-down-left {
	background-position: -1792px -896px;
}
.icon-arrow-left5 {
	background-position: -1856px -896px;
}
.icon-font2 {
	background-position: -1920px -896px;
}
.icon-bold2 {
	background-position: -1984px -896px;
}
.icon-underline2 {
	background-position: 0 -960px;
}
.icon-italic2 {
	background-position: -64px -960px;
}
.icon-table {
	background-position: -128px -960px;
}
.icon-pilcrow2 {
	background-position: -192px -960px;
}
.icon-paragraph-left {
	background-position: -256px -960px;
}
.icon-paragraph-center {
	background-position: -320px -960px;
}
.icon-paragraph-right {
	background-position: -384px -960px;
}
.icon-paragraph-justify {
	background-position: -448px -960px;
}
.icon-indent-increase {
	background-position: -512px -960px;
}
.icon-indent-decrease {
	background-position: -576px -960px;
}
.icon-new-tab {
	background-position: -640px -960px;
}
.icon-embed {
	background-position: -704px -960px;
}
.icon-code {
	background-position: -768px -960px;
}
.icon-console {
	background-position: -832px -960px;
}
.icon-share2 {
	background-position: -896px -960px;
}
.icon-google-plus {
	background-position: -960px -960px;
}
.icon-facebook4 {
	background-position: -1024px -960px;
}
.icon-twitter3 {
	background-position: -1088px -960px;
}
.icon-feed {
	background-position: -1152px -960px;
}
.icon-flickr2 {
	background-position: -1216px -960px;
}
.icon-dribbble2 {
	background-position: -1280px -960px;
}
.icon-github4 {
	background-position: -1344px -960px;
}
.icon-github5 {
	background-position: -1408px -960px;
}
.icon-github6 {
	background-position: -1472px -960px;
}
.icon-apple {
	background-position: -1536px -960px;
}
.icon-android2 {
	background-position: -1600px -960px;
}
.icon-soundcloud {
	background-position: -1664px -960px;
}
.icon-file-pdf {
	background-position: -1728px -960px;
}
.icon-file-powerpoint {
	background-position: -1792px -960px;
}
.icon-file-xml {
	background-position: -1856px -960px;
}
.icon-file-css {
	background-position: -1920px -960px;
}
.icon-html52 {
	background-position: -1984px -960px;
}
.icon-css32 {
	background-position: 0 -1024px;
}
.icon-chrome {
	background-position: -64px -1024px;
}
.icon-firefox {
	background-position: -128px -1024px;
	width: 33px;
}
.icon-IE {
	background-position: -192px -1024px;
}
.icon-opera {
	background-position: -256px -1024px;
}
.icon-safari {
	background-position: -320px -1024px;
}
.icon-sunrise {
	background-position: -384px -1024px;
}
.icon-sun2 {
	background-position: -448px -1024px;
}
.icon-moon2 {
	background-position: -512px -1024px;
}
.icon-sun3 {
	background-position: -576px -1024px;
}
.icon-windy {
	background-position: -640px -1024px;
}
.icon-wind {
	background-position: -704px -1024px;
}
.icon-snowflake {
	background-position: -768px -1024px;
}
.icon-cloudy3 {
	background-position: -832px -1024px;
}
.icon-cloud3 {
	background-position: -896px -1024px;
}
.icon-weather {
	background-position: -960px -1024px;
}
.icon-weather2 {
	background-position: -1024px -1024px;
}
.icon-weather3 {
	background-position: -1088px -1024px;
}
.icon-lines {
	background-position: -1152px -1024px;
}
.icon-cloud4 {
	background-position: -1216px -1024px;
}
.icon-lightning2 {
	background-position: -1280px -1024px;
}
.icon-lightning3 {
	background-position: -1344px -1024px;
}
.icon-rainy {
	background-position: -1408px -1024px;
}
.icon-rainy2 {
	background-position: -1472px -1024px;
}
.icon-windy2 {
	background-position: -1536px -1024px;
}
.icon-windy3 {
	background-position: -1600px -1024px;
}
.icon-snowy {
	background-position: -1664px -1024px;
}
.icon-snowy2 {
	background-position: -1728px -1024px;
}
.icon-snowy3 {
	background-position: -1792px -1024px;
}
.icon-weather4 {
	background-position: -1856px -1024px;
}
.icon-cloudy4 {
	background-position: -1920px -1024px;
}
.icon-cloud5 {
	background-position: -1984px -1024px;
}
.icon-lightning4 {
	background-position: 0 -1088px;
}
.icon-sun4 {
	background-position: -64px -1088px;
}
.icon-moon3 {
	background-position: -128px -1088px;
}
.icon-cloudy5 {
	background-position: -192px -1088px;
}
.icon-cloud6 {
	background-position: -256px -1088px;
}
.icon-cloud7 {
	background-position: -320px -1088px;
}
.icon-lightning5 {
	background-position: -384px -1088px;
}
.icon-rainy3 {
	background-position: -448px -1088px;
}
.icon-rainy4 {
	background-position: -512px -1088px;
}
.icon-windy4 {
	background-position: -576px -1088px;
}
.icon-windy5 {
	background-position: -640px -1088px;
}
.icon-snowy4 {
	background-position: -704px -1088px;
}
.icon-snowy5 {
	background-position: -768px -1088px;
}
.icon-weather5 {
	background-position: -832px -1088px;
}
.icon-cloudy6 {
	background-position: -896px -1088px;
}
.icon-lightning6 {
	background-position: -960px -1088px;
}
.icon-thermometer2 {
	background-position: -1024px -1088px;
}
.icon-compass4 {
	background-position: -1088px -1088px;
}
.icon-none {
	background-position: -1152px -1088px;
}
.icon-Celsius {
	background-position: -1216px -1088px;
}
.icon-Fahrenheit {
	background-position: -1280px -1088px;
}
